# Linear Regression

In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd 
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [4]:
ld_train=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\loan_data_train.csv')
ld_test=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\loan_data_test.csv')

In [5]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [6]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [7]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [8]:
ld_train.sample(10)

# drop columns : Amount.Funded.By.Investors , ID, Interest.Rate

#1 Amount requested : convert it to numeric

#2 Loan Length : create dummies with frequency cutoff 20

#3 Loan.Purpose : dummies with freq cutoff

#4  Debt.To.Income.Ratio : remove % and then convert to numeric

#5  State: dummies with frequency cutoff

#6 Home.Ownership : dummies with frequency cutoff

#7 Monthly Income : as is

#8 FICO.Range : break a-b , in to a ,b , convert them to numeric 
# then create new column fico=0.5*(a+b) and then drop the original FICO.Range

#9 Open Credit Lines : convert to numeric

#10 Revolving Credit balance : convert it to numeric 

#11 inquiries in the last 6 months : as is

#12 Employment.Length : create dummies with frequency cutoff

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
274,96780.0,6000,6000,15.80%,36 months,debt_consolidation,19.56%,WA,OWN,1666.67,675-679,7,5291,0.0,< 1 year
2103,52407.0,16400,16350,13.99%,60 months,debt_consolidation,23.60%,FL,RENT,3500.00,725-729,11,16693,1.0,5 years
1617,31787.0,2200,2200,13.49%,36 months,debt_consolidation,3.27%,WA,OWN,6666.67,700-704,2,10142,0.0,5 years
42,82112.0,12000,12000,12.12%,36 months,debt_consolidation,14.66%,FL,MORTGAGE,5000.00,710-714,11,13235,2.0,2 years
2026,99967.0,7000,7000,17.77%,36 months,debt_consolidation,30.30%,TX,RENT,4333.33,675-679,16,6922,1.0,4 years
1057,81950.0,11625,11625,14.33%,36 months,debt_consolidation,22.84%,NY,MORTGAGE,2833.33,705-709,6,27411,2.0,8 years
167,35615.0,4800,4800,12.42%,36 months,debt_consolidation,17.98%,UT,MORTGAGE,4500.00,670-674,9,30895,0.0,10+ years
2085,96412.0,13200,13200,14.33%,36 months,debt_consolidation,28.75%,CA,RENT,3833.33,695-699,9,8568,1.0,10+ years
1426,75525.0,17500,17475,14.09%,36 months,debt_consolidation,34.88%,NY,RENT,3750.00,690-694,6,18485,0.0,1 year
1621,54487.0,33000,33000,7.62%,36 months,debt_consolidation,0.26%,NY,MORTGAGE,102750.00,805-809,7,95435,0.0,10+ years

In [9]:
p1=pdPipeline([
    ('var_select',VarSelector(['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance'])),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

p2=pdPipeline([
    ('var_select',VarSelector(['Debt.To.Income.Ratio'])),
    ('string_clean',string_clean(replace_it='%',replace_with='')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

p3=pdPipeline([
    ('var_select',VarSelector(['Loan.Length', 'Loan.Purpose','State','Home.Ownership','Employment.Length'])),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(20))
])

p4=pdPipeline([
    ('var_select',VarSelector(['Monthly.Income','Inquiries.in.the.Last.6.Months'])),
    ('missing_trt',DataFrameImputer())
])

p5=pdPipeline([
    ('var_select',VarSelector(['FICO.Range'])),
    ('custom_fico',custom_fico()),
    ('missing_trt',DataFrameImputer())
])

data_pipe=FeatureUnion([
    ('obj_to_num',p1),
    ('dtir',p2),
    ('obj_to_dum',p3),
    ('num',p4),
    ('fico',p5)
])

In [10]:
x_train=pd.DataFrame(data=data_pipe.fit_transform(ld_train),
                     columns=data_pipe.get_feature_names())

In [11]:
x_train.shape

(2200, 60)

In [12]:
x_test=pd.DataFrame(data=data_pipe.transform(ld_test),
                     columns=data_pipe.get_feature_names())

In [13]:
x_test.shape

(300, 60)

In [14]:
x_train.head()

,obj_to_num__Amount.Requested,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,obj_to_dum__Loan.Purpose_home_improvement,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,25000.0,11.0,15210.0,27.56,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8606.56,3.0,722.0
1,19750.0,14.0,19070.0,13.39,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.50,3.0,712.0
2,2100.0,13.0,893.0,3.50,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.00,1.0,692.0
3,28000.0,12.0,38194.0,19.62,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7083.33,1.0,712.0
4,24250.0,6.0,31061.0,23.79,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5833.33,2.0,732.0

In [15]:
x_test.head()

,obj_to_num__Amount.Requested,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,obj_to_dum__Loan.Purpose_home_improvement,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,5000.0,13.0,7686.0,12.59,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4416.67,0.0,692.0
1,18000.0,6.0,11596.0,4.93,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5258.50,0.0,712.0
2,7200.0,13.0,7283.0,25.16,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3750.00,0.0,752.0
3,7200.0,14.0,4838.0,17.27,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3416.67,0.0,792.0
4,22000.0,9.0,20181.0,18.28,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6083.33,0.0,722.0

In [16]:
y_train=ld_train['Interest.Rate'].str.replace('%','').astype(float)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [18]:
lm=LinearRegression()

In [19]:
cv_mae=-cross_val_score(lm,
                        x_train,y_train,
                        cv=10,
                        scoring='neg_mean_absolute_error')

In [20]:
cv_mae

array([1.74273801, 1.76502624, 1.77011354, 1.65406589, 1.43720296,
       1.63540955, 1.44255408, 1.58043799, 1.52220714, 1.65823135])

In [21]:
cv_mae.mean()

1.620798676015496

In [22]:
cv_mae.std()

0.11726675023077486

In [23]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
lm.intercept_

73.1643230281186

In [25]:
lm.coef_

array([ 1.60913878e-04, -3.72164153e-02, -3.05844966e-06,  1.88427404e-04,
        1.30627284e+00,  4.47755390e+00, -7.84079703e-01, -8.91888331e-01,
        3.20936459e-02, -6.95275775e-01, -4.22744797e-01, -2.64224120e-01,
       -5.41274155e-01, -9.69555836e-01, -5.98574359e-01,  7.21470875e-01,
       -1.99766458e-01, -1.88645568e-01, -7.45527597e-02,  4.73923022e-01,
       -4.68212871e-01, -5.71694597e-01, -1.79076702e-01, -3.78950003e-01,
       -1.57191036e-01, -1.08257898e-01, -1.99177682e-01, -7.78964606e-02,
       -4.96139885e-01,  4.10456351e-02, -2.67193758e-01,  3.80179542e-01,
        4.08575782e-01, -9.81649463e-02, -6.21920499e-02, -1.77735228e-01,
       -2.33745724e-01, -3.50604056e-01, -3.92591988e-02,  1.10048502e-02,
        1.87183988e-02,  1.85782841e-01, -2.39881640e+00, -2.17035525e+00,
       -2.06526514e+00,  5.26184321e-01,  3.52218686e-01,  2.87554381e-01,
        1.51007910e-01,  5.83377246e-01,  4.22222352e-01,  2.41210867e-01,
        3.88741640e-01,  3.79084850e-01,  2.59382486e-01,  6.22503367e-01,
        3.01804825e-02, -2.61235843e-05,  3.36843044e-01, -8.64225362e-02])

In [26]:
list(zip(x_train.columns,lm.coef_))

[('obj_to_num__Amount.Requested', 0.00016091387809656234),
 ('obj_to_num__Open.CREDIT.Lines', -0.03721641529311709),
 ('obj_to_num__Revolving.CREDIT.Balance', -3.058449664163689e-06),
 ('dtir__Debt.To.Income.Ratio', 0.000188427403854996),
 ('obj_to_dum__Loan.Length_36 months', 1.3062728365195124),
 ('obj_to_dum__Loan.Length_60 months', 4.477553903315222),
 ('obj_to_dum__Loan.Purpose_debt_consolidation', -0.7840797027378777),
 ('obj_to_dum__Loan.Purpose_credit_card', -0.8918883314480472),
 ('obj_to_dum__Loan.Purpose_other', 0.032093645937866344),
 ('obj_to_dum__Loan.Purpose_home_improvement', -0.695275774645775),
 ('obj_to_dum__Loan.Purpose_major_purchase', -0.42274479675836724),
 ('obj_to_dum__Loan.Purpose_small_business', -0.2642241204485625),
 ('obj_to_dum__Loan.Purpose_car', -0.5412741545749168),
 ('obj_to_dum__Loan.Purpose_wedding', -0.9695558362055852),
 ('obj_to_dum__Loan.Purpose_medical', -0.5985743591781627),
 ('obj_to_dum__Loan.Purpose_moving', 0.7214708748505875),
 ('obj_to_dum__State_CA', -0.19976645848784466),
 ('obj_to_dum__State_NY', -0.1886455676670022),
 ('obj_to_dum__State_FL', -0.07455275965434859),
 ('obj_to_dum__State_TX', 0.47392302156496635),
 ('obj_to_dum__State_PA', -0.4682128709524959),
 ('obj_to_dum__State_IL', -0.5716945967440724),
 ('obj_to_dum__State_GA', -0.17907670150051713),
 ('obj_to_dum__State_NJ', -0.37895000264471884),
 ('obj_to_dum__State_VA', -0.1571910356482973),
 ('obj_to_dum__State_MA', -0.10825789759318752),
 ('obj_to_dum__State_OH', -0.1991776815124328),
 ('obj_to_dum__State_MD', -0.07789646059989438),
 ('obj_to_dum__State_NC', -0.4961398851955466),
 ('obj_to_dum__State_CO', 0.04104563510865315),
 ('obj_to_dum__State_WA', -0.26719375789530003),
 ('obj_to_dum__State_AZ', 0.3801795423713537),
 ('obj_to_dum__State_CT', 0.4085757821326248),
 ('obj_to_dum__State_MI', -0.09816494633767389),
 ('obj_to_dum__State_AL', -0.06219204990211738),
 ('obj_to_dum__State_MN', -0.1777352283916922),
 ('obj_to_dum__State_NV', -0.233745723508853),
 ('obj_to_dum__State_MO', -0.3506040563783897),
 ('obj_to_dum__State_SC', -0.039259198778797334),
 ('obj_to_dum__State_WI', 0.011004850205399846),
 ('obj_to_dum__State_OR', 0.018718398776930177),
 ('obj_to_dum__State_KS', 0.18578284142273332),
 ('obj_to_dum__Home.Ownership_MORTGAGE', -2.3988163957274535),
 ('obj_to_dum__Home.Ownership_RENT', -2.1703552527808947),
 ('obj_to_dum__Home.Ownership_OWN', -2.0652651351921376),
 ('obj_to_dum__Employment.Length_10+ years', 0.5261843209587149),
 ('obj_to_dum__Employment.Length_< 1 year', 0.3522186856905214),
 ('obj_to_dum__Employment.Length_2 years', 0.28755438123393273),
 ('obj_to_dum__Employment.Length_3 years', 0.15100791021227927),
 ('obj_to_dum__Employment.Length_5 years', 0.5833772459285613),
 ('obj_to_dum__Employment.Length_4 years', 0.4222223518978132),
 ('obj_to_dum__Employment.Length_1 year', 0.2412108667776786),
 ('obj_to_dum__Employment.Length_6 years', 0.38874163982672905),
 ('obj_to_dum__Employment.Length_7 years', 0.3790848502692891),
 ('obj_to_dum__Employment.Length_8 years', 0.25938248627193655),
 ('obj_to_dum__Employment.Length_missing', 0.62250336661907),
 ('obj_to_dum__Employment.Length_9 years', 0.030180482501120945),
 ('num__Monthly.Income', -2.6123584269788225e-05),
 ('num__Inquiries.in.the.Last.6.Months', 0.3368430440959265),
 ('fico__fico', -0.08642253616261009)]

In [27]:
test_pred=lm.predict(x_test)

In [28]:
test_pred

array([16.73641244, 15.9822577 , 10.41724451,  3.71534168, 15.21108834,
        7.0351977 , 15.57246453, 10.58352597, 15.94955183, 12.38355726,
        9.9366698 , 15.17209087, 11.53730446, 13.67752736, 13.40134753,
       18.33363766, 10.18969518, 15.79040256, 13.37967692, 14.03563066,
       22.50430604, 17.50946104, 12.12105201, 14.6034318 ,  9.68060525,
       11.39039568, 13.33566534, 19.0210008 , 11.80641539, 16.88384891,
       15.0680717 , 15.29064393, 12.35705772, 15.07255624, 13.78562695,
       14.07528779, 19.52106736, 11.3554855 , 12.00458203, 16.82962478,
       14.15907615, 11.12807774, 14.8967374 , 13.17699098, 15.55418833,
       17.04873439, 14.90876743, 19.10551152, 17.0897673 , 10.33940429,
       13.57931315, 19.75300247, 10.02009378, 19.49728229, 15.57850152,
       15.06801067, 17.10315371, 14.53133523, 10.93874049, 14.48472924,
       13.05230477, 17.09882657,  8.84706185, 14.56313892, 10.50916007,
       11.43247185, 12.79734112, 14.90266567, 12.05952277, 14.46693231,
       14.61642033, 17.24253614, 20.74859538, 19.66130931, 13.28429285,
       17.07104713, 11.16118596,  9.96673255, 16.52433487,  6.90202742,
       15.87937993, 10.15706679,  9.57219514, 12.99523346, 13.95496112,
        9.49924577,  9.38426041, 13.94572807,  8.66195304, 11.57397047,
       12.25901317, 17.04618049, 13.41702942, 17.8834235 , 14.24337976,
       10.33534729, 10.28333794, 17.23214453, 17.02028003, 13.63913691,
       15.17532389, 13.53044926, 15.26395786, 14.62634485, 13.5787455 ,
       12.34941335,  8.80080108, 11.98600281, 10.87315033, 14.05178105,
       11.79478423, 20.27590809,  7.37817216, 16.94432592, 15.66331436,
        6.63383276, 13.26581571, 14.32006784, 15.1391901 ,  9.10821353,
       16.03673571, 14.28206231,  9.06634593, 12.78765916, 17.35803665,
       15.93878834,  8.46703757, 18.50200839,  3.39724375, 12.27473169,
       13.7961973 , 13.3088765 ,  9.8496402 , 13.92710505, 18.5139142 ,
       14.35730508, 15.54036518, 13.33284933, 13.07236588,  9.59862457,
       14.08782458, 14.451644  , 11.7545355 , 11.55627822, 11.70365152,
       17.02562701, 12.00469657, 10.53356158,  7.99405754,  9.68813046,
       11.40457133, 13.84334017, 10.25821904,  7.74262757, 14.0486759 ,
       11.98397484, 11.3107354 ,  7.88019024, 14.56904272, 14.68156561,
       14.1753978 ,  7.06137672, 15.04443833, 17.92995103, 15.33557437,
       16.02335478, 14.70113576, 10.04286508, 13.40455383, 16.71578232,
       14.66111191, 12.82815986,  6.51936432, 13.22566057, 10.28130033,
       10.50768685, 11.14317864,  8.83403719,  9.68715601, 11.46665396,
       12.87663582, 14.4684547 , 10.37369836, 13.27387361, 10.96984717,
       13.80531657,  8.5132627 , 18.04560544, 13.61653922,  9.51676242,
        7.66733455, 11.41948849, 16.06881087, 15.43077101, 15.12071832,
       17.97421936,  9.1299835 , 18.94151796,  5.1426561 , 13.88557349,
       14.60222091, 12.64549969, 18.31677736, 16.7786466 ,  4.75388058,
       15.46143631, 15.62628784, 19.6953671 , 16.43838268,  8.74392768,
       14.65177739, 11.53404564, 12.19216663, 14.63584165, 10.76178652,
       12.39261066, 13.33033737, 20.78950865, 13.77697476,  6.50169857,
        5.61054656,  9.40205509, 17.9126057 , 11.37973122, 15.90368123,
       14.71936736, 11.78223034, 11.65362939, 12.35723135, 10.58538845,
       11.70081297, 14.72006345, 12.7382583 , 16.0598002 ,  7.64720506,
       11.24483235, 13.33082032, 10.64117932,  4.96545485, 19.9539124 ,
       14.11284775, 19.76047273,  7.92465018, 20.90198417, 12.8532809 ,
       12.22709855, 20.1417844 ,  8.86215703,  7.79684632, 12.92622404,
       16.05986237, 14.98257927, 10.76343434, 14.0602807 , 15.16670891,
       18.90308179, 11.21140191,  7.87663399, 12.45287606, 18.10622623,
       16.3169388 , 13.21519814, 18.47406181,  7.48395709, 20.02867774,
        8.5430214 , 15.87604891, 10.59547608,  4.60463118, 14.97762265,
       13.54600745, 13.15934701,  6.72909469, 10.71216849,  9.87344909,
        6.59420979, 14.24278364, 13.76470665, 10.90514913, 14.84945855,
       16.68671999, 20.38030416, 16.30565557, 14.46584418, 15.91246507,
        8.21080288, 12.81651572, 13.48663564, 10.51817657, 11.80223963,
       14.70439909, 10.14162217, 14.36674602,  9.47584891,  7.0147251 ,
       15.7421093 , 11.1596704 , 14.46840078, 17.90485492, 12.98514089])

We can write these to a csv file:

In [29]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# Ridge  Regression

In [31]:
from sklearn.linear_model import Ridge,Lasso

from sklearn.model_selection import GridSearchCV

In [32]:
lambdas=np.linspace(1,100,100)

In [33]:
lambdas

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])

In [34]:
params={'alpha':lambdas}

In [35]:
model=Ridge(fit_intercept=True)

In [36]:
grid_search=GridSearchCV(model,
                         param_grid=params,
                         cv=10,
                         scoring='neg_mean_absolute_error',
                        verbose=20,n_jobs=-1)

In [37]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1978s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0431s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0473s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  60 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  76 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done  84 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1197s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Done  92 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 100 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 108 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 116 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done 132 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done 140 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done 156 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 172 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 188 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 204 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 220 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 236 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 252 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 268 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 300 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 316 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 332 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 348 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 364 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 380 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 396 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 412 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 428 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 444 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 460 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 476 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 492 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 508 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 524 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 540 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 556 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 572 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 588 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 604 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 620 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 636 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 652 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 668 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 684 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 700 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 716 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 732 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 748 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 764 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done 780 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done 812 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done 828 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done 844 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done 860 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done 876 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done 892 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 908 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 924 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 925 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 926 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 942 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 943 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 944 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 961 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 962 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 963 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 964 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 965 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 966 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 967 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 968 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 969 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 970 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 971 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 972 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 973 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 974 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 975 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 977 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 978 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    5.2s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,...,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=20)

In [38]:
grid_search.best_estimator_

Ridge(alpha=59.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [39]:
grid_search.cv_results_

{'mean_fit_time': array([0.02312124, 0.01003323, 0.00799711, 0.00787914, 0.00792601,
        0.00847764, 0.00787885, 0.00897634, 0.00747936, 0.00818036,
        0.00877662, 0.00837741, 0.00747998, 0.00907578, 0.00758047,
        0.00777957, 0.00718112, 0.00777984, 0.00887651, 0.00718036,
        0.00787916, 0.00757961, 0.00767963, 0.00758045, 0.00857768,
        0.00817838, 0.00867834, 0.00777898, 0.00747976, 0.00718081,
        0.00688202, 0.00738022, 0.00708115, 0.01057122, 0.00688169,
        0.00698218, 0.00837748, 0.00678201, 0.00738003, 0.00797915,
        0.00927575, 0.00698154, 0.00977423, 0.00738122, 0.00927553,
        0.00937598, 0.01137044, 0.00747938, 0.00787852, 0.00797958,
        0.00797944, 0.00807874, 0.00857773, 0.00777903, 0.00758204,
        0.00907633, 0.00738108, 0.00718093, 0.0067822 , 0.00867763,
        0.00678272, 0.00817931, 0.00807931, 0.00708151, 0.00708196,
        0.00967507, 0.00658202, 0.00728202, 0.00738201, 0.00668254,
        0.00728025, 0.00880132, 0.00698147, 0.00739501, 0.00668268,
        0.00708013, 0.00787873, 0.0069505 , 0.00655127, 0.00699255,
        0.00758018, 0.00728078, 0.00747986, 0.0082782 , 0.00787981,
        0.00718112, 0.00668256, 0.00718131, 0.00688128, 0.00748086,
        0.00927444, 0.00708108, 0.00967524, 0.00738053, 0.00927598,
        0.00748041, 0.01246665, 0.0119447 , 0.00827818, 0.00767903]),
 'std_fit_time': array([0.02204417, 0.00602351, 0.00150554, 0.00169522, 0.0017272 ,
        0.00185246, 0.00180886, 0.00605079, 0.00162342, 0.00277748,
        0.00235168, 0.0027201 , 0.001022  , 0.00389985, 0.00155729,
        0.00182787, 0.00074586, 0.00277786, 0.00310474, 0.00059859,
        0.00211319, 0.00282791, 0.00134159, 0.00142435, 0.00480782,
        0.00239347, 0.00299392, 0.00132196, 0.00111482, 0.00097709,
        0.00082884, 0.00119635, 0.00082865, 0.00423655, 0.00053752,
        0.00063049, 0.0039187 , 0.00107419, 0.00066188, 0.00178358,
        0.00452726, 0.0006312 , 0.00562008, 0.00091406, 0.00339817,
        0.00450898, 0.00772773, 0.00128152, 0.00186338, 0.00118138,
        0.00213898, 0.00400041, 0.00275661, 0.00281431, 0.00101882,
        0.0039757 , 0.00111027, 0.0011627 , 0.00086955, 0.00365189,
        0.00039921, 0.00266883, 0.00399966, 0.00069731, 0.00082815,
        0.00777738, 0.00066298, 0.0007784 , 0.00111063, 0.00077802,
        0.00045782, 0.00679681, 0.0008925 , 0.00109263, 0.00063778,
        0.00069826, 0.00144161, 0.00045577, 0.00078703, 0.0006312 ,
        0.00110968, 0.00089769, 0.00195733, 0.00394066, 0.00121767,
        0.00097732, 0.00045707, 0.0005985 , 0.00053753, 0.00179782,
        0.00296082, 0.00069894, 0.00558925, 0.00168138, 0.0042787 ,
        0.00142784, 0.01028993, 0.00656577, 0.00199726, 0.00045772]),
 'mean_score_time': array([0.00119812, 0.00251288, 0.00169532, 0.00159576, 0.00299137,
        0.00189502, 0.00149577, 0.00159538, 0.00139644, 0.00149472,
        0.00169513, 0.00149672, 0.00189595, 0.00189478, 0.0019944 ,
        0.00169516, 0.0021945 , 0.001297  , 0.00239346, 0.00199502,
        0.0015955 , 0.00139594, 0.00159597, 0.00179482, 0.00129623,
        0.00179513, 0.00169418, 0.00179515, 0.0014966 , 0.00139623,
        0.0017951 , 0.00149589, 0.00149634, 0.00169613, 0.00179491,
        0.00159545, 0.00179553, 0.00269299, 0.00139642, 0.00239363,
        0.00259306, 0.00139649, 0.00219393, 0.00159492, 0.00159595,
        0.00159554, 0.00139611, 0.00159645, 0.0016963 , 0.00199375,
        0.0012965 , 0.00199449, 0.00139556, 0.0019948 , 0.00149398,
        0.00149586, 0.00209348, 0.00159652, 0.00159507, 0.00149605,
        0.00169415, 0.0013957 , 0.00129611, 0.00199416, 0.00139565,
        0.00159395, 0.00159564, 0.00179391, 0.00139463, 0.00139754,
        0.00119665, 0.00167952, 0.00159607, 0.00139627, 0.00149574,
        0.00159659, 0.00119698, 0.0014957 , 0.00180597, 0.00159559,
        0.0015954 , 0.00159576, 0.00139613, 0.00289195, 0.00229344,
        0.00139627, 0.00139632, 0.00139587, 0.0014962 , 0.00159638,
        0.00239387, 0.00179517, 0.00149508, 0.00139613, 0.00149553,
        0.00169475, 0.00179491, 0.00139661, 0.00179508, 0.00147257]),
 'std_score_time': array([0.00139598, 0.00442871, 0.00045753, 0.00048869, 0.00401432,
        0.00053762, 0.00049913, 0.00048886, 0.00048879, 0.00049785,
        0.00063912, 0.00049841, 0.00053789, 0.00053696, 0.00109269,
        0.00045685, 0.00198468, 0.00045753, 0.00264606, 0.0007726 ,
        0.00079796, 0.00048867, 0.00048837, 0.00074578, 0.00045714,
        0.00039837, 0.00089855, 0.00059823, 0.0006691 , 0.00048902,
        0.00059809, 0.00049849, 0.00049894, 0.00045739, 0.0003994 ,
        0.00066157, 0.00059891, 0.00282303, 0.00048857, 0.00289717,
        0.00286316, 0.00048837, 0.00198463, 0.00048839, 0.00048875,
        0.00091372, 0.00048756, 0.00048925, 0.00118749, 0.00178278,
        0.00045635, 0.00141096, 0.00048839, 0.00109284, 0.00049793,
        0.00066884, 0.00175344, 0.00048967, 0.00066138, 0.00049885,
        0.00045797, 0.00048803, 0.00045702, 0.00109197, 0.0004887 ,
        0.00065888, 0.00066173, 0.0007458 , 0.00049043, 0.00048937,
        0.00039851, 0.00063295, 0.00048894, 0.00048849, 0.00049844,
        0.00066201, 0.00039923, 0.00049815, 0.00073594, 0.00048826,
        0.00066169, 0.00048903, 0.00048861, 0.0047091 , 0.00292636,
        0.00048854, 0.00048938, 0.00048868, 0.00049884, 0.00048979,
        0.00190257, 0.00059859, 0.00049826, 0.00048895, 0.00049894,
        0.0008986 , 0.00116356, 0.00048968, 0.00039942, 0.00048001]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.74339538, -1.7437103 , -1.74390396, -1.74400738, -1.74405717,
        -1.74407232, -1.7440639 , -1.7440705 , -1.74412344, -1.74416348,
        -1.74426056, -1.74435414, -1.74444034, -1.74452029, -1.74459493,
        -1.74466501, -1.74473117, -1.74479393, -1.74485374, -1.74491097,
        -1.74496596, -1.74501897, -1.74507025, -1.74512001, -1.74516844,
        -1.74521568, -1.74529333, -1.74536979, -1.74544499, -1.74551906,
        -1.74559209, -1.74566417, -1.74573539, -1.74582424, -1.74591769,
        -1.74601004, -1.74610135, -1.74619168, -1.7462811 , -1.74636966,
        -1.7464574 , -1.74654437, -1.74663062, -1.74671617, -1.74680108,
        -1.74688536, -1.74696906, -1.7470522 , -1.74714301, -1.74725721,
        -1.74737088, -1.74748406, -1.74759676, -1.747709  , -1.74785884,
        -1.74802097, -1.7481819 , -1.74834165, -1.74850028, -1.7486578 ,
        -1.74881426, -1.74896968, -1.7491241 , -1.74927753, -1.7494394 ,
        -1.74964702, -1.7498535 , -1.75005887, -1.75026316, -1.75046637,
        -1.75066854, -1.75086968, -1.75106982, -1.75127625, -1.75152592,
        -1.75177414, -1.75202094, -1.75226634, -1.75251036, -1.75276211,
        -1.75304267, -1.75332174, -1.75359932, -1.75387546, -1.75415017,
        -1.75442347, -1.75469537, -1.75496591, -1.7552351 , -1.75550296,
        -1.7557695 , -1.75603475, -1.75629872, -1.75656143, -1.75683773,
        -1.75714309, -1.757447  , -1.75774947, -1.75805051, -1.75835016]),
 'split1_test_score': array([-1.758411  , -1.75446021, -1.75155167, -1.74933634, -1.74736299,
        -1.74555129, -1.74386912, -1.7422957 , -1.74083965, -1.739472  ,
        -1.73817665, -1.73694681, -1.73577674, -1.73466152, -1.73366474,
        -1.73276632, -1.73191881, -1.73110973, -1.73033645, -1.72959661,
        -1.72888806, -1.72820883, -1.72757691, -1.72700716, -1.72645992,
        -1.72593388, -1.72542786, -1.72494073, -1.72447149, -1.72404078,
        -1.72362954, -1.72323313, -1.72285079, -1.72248181, -1.72212552,
        -1.72178132, -1.72144862, -1.72112687, -1.72081557, -1.72051423,
        -1.72022242, -1.71993969, -1.71966566, -1.71939995, -1.71914221,
        -1.71889209, -1.71864928, -1.71841348, -1.7181844 , -1.71796179,
        -1.71774538, -1.71753492, -1.7173302 , -1.71714207, -1.71695911,
        -1.71678068, -1.71660661, -1.71643676, -1.71627097, -1.7161091 ,
        -1.71595103, -1.71579661, -1.71564574, -1.71549829, -1.71535415,
        -1.71521321, -1.71507537, -1.71494053, -1.7148086 , -1.71467948,
        -1.71455308, -1.71442933, -1.71430814, -1.71418943, -1.71407313,
        -1.71395917, -1.71384748, -1.71373799, -1.71363064, -1.71353134,
        -1.71345342, -1.71337713, -1.71330241, -1.71322923, -1.71315753,
        -1.71308727, -1.71301842, -1.71295094, -1.71288478, -1.7128199 ,
        -1.71275629, -1.71269389, -1.71263268, -1.71257262, -1.71251398,
        -1.7124601 , -1.71240722, -1.71235531, -1.71230436, -1.71225966]),
 'split2_test_score': array([-1.77201639, -1.77172691, -1.77090824, -1.76990199, -1.76883335,
        -1.76776328, -1.76671888, -1.76571221, -1.76474811, -1.76401879,
        -1.76347757, -1.76296093, -1.76266518, -1.76243856, -1.76222261,
        -1.76201684, -1.76182071, -1.76163371, -1.76145533, -1.76128507,
        -1.76112247, -1.7609671 , -1.76081855, -1.76067644, -1.76054042,
        -1.76041016, -1.76030262, -1.76020563, -1.76011291, -1.76002424,
        -1.75993941, -1.75985825, -1.75978057, -1.75970622, -1.75963504,
        -1.75956688, -1.75950162, -1.75943912, -1.75937926, -1.75932194,
        -1.75926859, -1.75922577, -1.75918503, -1.75914629, -1.75910948,
        -1.75907451, -1.75904131, -1.75900981, -1.75897995, -1.75895167,
        -1.75892491, -1.7588996 , -1.75887571, -1.75889368, -1.75891886,
        -1.75894453, -1.75897069, -1.7589973 , -1.75902434, -1.7590518 ,
        -1.75907966, -1.75910789, -1.75913649, -1.75916543, -1.75919471,
        -1.7592243 , -1.7592542 , -1.75928439, -1.75931485, -1.759348  ,
        -1.75941833, -1.75948869, -1.75955908, -1.75962949, -1.7596999 ,
        -1.75977033, -1.75984075, -1.75991118, -1.75998159, -1.76005199,
        -1.76012238, -1.7601963 , -1.76028615, -1.76037601, -1.76046586,
        -1.76058604, -1.76071497, -1.76084373, -1.76097232, -1.76110075,
        -1.76122901, -1.76135709, -1.7614934 , -1.76165001, -1.76181023,
        -1.76197152, -1.76213209, -1.76229197, -1.76247945, -1.76266942]),
 'split3_test_score': array([-1.65358958, -1.65313863, -1.65281521, -1.65254316, -1.65229879,
        -1.65207919, -1.65188051, -1.65169926, -1.6515326 , -1.65137819,
        -1.65123422, -1.65109919, -1.6509719 , -1.65085139, -1.65073684,
        -1.65062915, -1.65054129, -1.65045643, -1.65037433, -1.65029477,
        -1.65022743, -1.65021671, -1.65022655, -1.65023472, -1.65024136,
        -1.65024662, -1.6502506 , -1.6502876 , -1.65034428, -1.65039998,
        -1.65045311, -1.65050379, -1.65055217, -1.65059834, -1.65067193,
        -1.65074537, -1.65081648, -1.65088535, -1.65095206, -1.6510167 ,
        -1.65107934, -1.6511517 , -1.65122967, -1.65130579, -1.65138012,
        -1.65145583, -1.65155989, -1.65166536, -1.65176928, -1.65187147,
        -1.65197199, -1.65207087, -1.65216816, -1.6522639 , -1.65235814,
        -1.65245089, -1.65254222, -1.65263214, -1.6527207 , -1.65280792,
        -1.65289384, -1.65297849, -1.65306189, -1.65314408, -1.65322508,
        -1.65330492, -1.65338363, -1.65346122, -1.65353772, -1.65361317,
        -1.65368757, -1.65376095, -1.65383333, -1.65390474, -1.65397519,
        -1.6540447 , -1.65411329, -1.65418119, -1.65425131, -1.65432058,
        -1.654389  , -1.6544566 , -1.65452339, -1.65458939, -1.65465461,
        -1.65471907, -1.65478278, -1.65484575, -1.65490859, -1.6549849 ,
        -1.65506039, -1.65513507, -1.65520895, -1.65528205, -1.65535439,
        -1.65542597, -1.65549682, -1.65556693, -1.65563634, -1.65570504]),
 'split4_test_score': array([-1.44801082, -1.45052977, -1.45118902, -1.45111028, -1.45067461,
        -1.45006672, -1.44951862, -1.44891714, -1.44828606, -1.44762076,
        -1.44693529, -1.44624545, -1.44555475, -1.44486386, -1.44417599,
        -1.44349333, -1.44281745, -1.44214939, -1.44148986, -1.4408623 ,
        -1.44024705, -1.43964077, -1.43904347, -1.43845515, -1.43787569,
        -1.43730498, -1.43674285, -1.43618913, -1.43564363, -1.43510615,
        -1.43457648, -1.43405442, -1.43353977, -1.43303232, -1.43253187,
        -1.43205871, -1.43166209, -1.43127069, -1.43088436, -1.43050297,
        -1.43012637, -1.42975442, -1.42938701, -1.429024  , -1.42866528,
        -1.42833214, -1.42801689, -1.42770513, -1.42739677, -1.42709171,
        -1.42678988, -1.4264912 , -1.42619558, -1.42590295, -1.42561325,
        -1.4253264 , -1.42504233, -1.42478078, -1.42453012, -1.42428174,
        -1.42405624, -1.42386949, -1.42371666, -1.42358557, -1.42346806,
        -1.42335134, -1.4232354 , -1.42312024, -1.42300585, -1.42289221,
        -1.42277932, -1.42266717, -1.42255575, -1.42245963, -1.42237729,
        -1.42230123, -1.4222258 , -1.42215101, -1.42207685, -1.42200504,
        -1.42193874, -1.42187297, -1.42180773, -1.42174301, -1.4216788 ,
        -1.4216151 , -1.42155191, -1.42148921, -1.42142701, -1.42136529,
        -1.42130405, -1.42124329, -1.42118301, -1.42112319, -1.42106383,
        -1.42100493, -1.42094648, -1.42088848, -1.42083092, -1.4207738 ]),
 'split5_test_score': array([-1.6222821 , -1.62338948, -1.62323198, -1.62268237, -1.62224106,
        -1.6217678 , -1.62125597, -1.62073346, -1.62020325, -1.61967247,
        -1.61914547, -1.61863717, -1.61819979, -1.61778943, -1.61738615,
        -1.61699048, -1.61660272, -1.61622303, -1.61585143, -1.61548789,
        -1.61513231, -1.61478456, -1.61444447, -1.61411186, -1.61378654,
        -1.61346832, -1.613157  , -1.61285238, -1.61255425, -1.61226243,
        -1.61197671, -1.61169692, -1.61142654, -1.61117585, -1.6109301 ,
        -1.61068914, -1.61045283, -1.61023589, -1.61004154, -1.60985096,
        -1.60966404, -1.60948066, -1.60930072, -1.6091241 , -1.60897576,
        -1.60883395, -1.60869482, -1.60855828, -1.60842426, -1.60829268,
        -1.60816346, -1.60803654, -1.60791184, -1.60778931, -1.60766888,
        -1.60755049, -1.60743408, -1.60731959, -1.60720698, -1.60709618,
        -1.60698715, -1.60687984, -1.60677421, -1.60668267, -1.60659783,
        -1.60651451, -1.60643267, -1.60635225, -1.60627324, -1.60619558,
        -1.60611924, -1.60605048, -1.60598706, -1.60592472, -1.60586342,
        -1.60580602, -1.6057513 , -1.6056976 , -1.60564488, -1.60559312,
        -1.6055423 , -1.60549238, -1.60544335, -1.60539519, -1.60534786,
        -1.60530135, -1.60525564, -1.60521071, -1.60516654, -1.6051231 ,
        -1.60508039, -1.60503838, -1.60499705, -1.60495639, -1.60491639,
        -1.60487702, -1.60483827, -1.60480012, -1.60476257, -1.6047256 ]),
 'split6_test_score': array([-1.44282543, -1.44249212, -1.44206973, -1.4415697 , -1.44108427,
        -1.44055919, -1.44001636, -1.43946761, -1.43891967, -1.43837648,
        -1.43784038, -1.43731276, -1.43679442, -1.43628578, -1.435787  ,
        -1.43531674, -1.43486381, -1.43442035, -1.43398617, -1.43356105,
        -1.43317377, -1.43279859, -1.4324313 , -1.43207169, -1.43171953,
        -1.43137458, -1.43103664, -1.43070549, -1.43038092, -1.43006273,
        -1.42975074, -1.42945621, -1.42917909, -1.42890759, -1.42864155,
        -1.42841436, -1.42819509, -1.42798027, -1.42776978, -1.42756352,
        -1.42736137, -1.42716322, -1.42696898, -1.42677853, -1.42659178,
        -1.42640864, -1.42622901, -1.42605281, -1.42587995, -1.42571035,
        -1.42554393, -1.4253806 , -1.4252203 , -1.42506295, -1.42490848,
        -1.42476022, -1.42463805, -1.42452276, -1.42440984, -1.42429925,
        -1.42419092, -1.42408481, -1.42398086, -1.42387902, -1.42377924,
        -1.42371918, -1.42366317, -1.42360888, -1.42355628, -1.42350531,
        -1.42345595, -1.42340814, -1.42336187, -1.42331708, -1.42329995,
        -1.42328964, -1.42328044, -1.42327231, -1.42326524, -1.42325919,
        -1.42325871, -1.42326386, -1.4232699 , -1.42327681, -1.42328457,
        -1.42329315, -1.42330254, -1.42331271, -1.42332365, -1.42333748,
        -1.42335706, -1.42337735, -1.42339831, -1.42341994, -1.42344222,
        -1.42346514, -1.42348867, -1.4235128 , -1.42354901, -1.42360956]),
 'split7_test_score': array([-1.57836411, -1.57656224, -1.57530941, -1.57418229, -1.57313535,
        -1.57215847, -1.57124372, -1.57038455, -1.56957545, -1.56881165,
        -1.56808901, -1.56740391, -1.56675315, -1.56613393, -1.56554373,
        -1.56498032, -1.56448889, -1.56408786, -1.56378889, -1.56350107,

Using the report function given below we can see the cv performance of top few models as well, that will the tentative performance

In [40]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.6f} (std: {1:.6f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [41]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: -1.606905 (std: 0.117674)
Parameters: {'alpha': 59.0}

Model with rank: 2
Mean validation score: -1.606905 (std: 0.117597)
Parameters: {'alpha': 58.0}

Model with rank: 3
Mean validation score: -1.606906 (std: 0.117749)
Parameters: {'alpha': 60.0}

Model with rank: 4
Mean validation score: -1.606909 (std: 0.117518)
Parameters: {'alpha': 57.0}

Model with rank: 5
Mean validation score: -1.606911 (std: 0.117820)
Parameters: {'alpha': 61.0}

In [42]:
test_pred=grid_search.predict(x_test)

In [43]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

In [44]:
grid_search.best_estimator_

Ridge(alpha=59.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [45]:
ridge_model=grid_search.best_estimator_

In [46]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=59.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [47]:
list(zip(data_pipe.get_feature_names(),ridge_model.coef_))

[('obj_to_num__Amount.Requested', 0.0001659056567176454),
 ('obj_to_num__Open.CREDIT.Lines', -0.037908063378880995),
 ('obj_to_num__Revolving.CREDIT.Balance', -3.163756933346766e-06),
 ('dtir__Debt.To.Income.Ratio', -0.0008409375022166777),
 ('obj_to_dum__Loan.Length_36 months', -1.3957035074401456),
 ('obj_to_dum__Loan.Length_60 months', 1.4879897186327895),
 ('obj_to_dum__Loan.Purpose_debt_consolidation', -0.32395293779591766),
 ('obj_to_dum__Loan.Purpose_credit_card', -0.39987781135513),
 ('obj_to_dum__Loan.Purpose_other', 0.3608939940679967),
 ('obj_to_dum__Loan.Purpose_home_improvement', -0.17515395397224007),
 ('obj_to_dum__Loan.Purpose_major_purchase', 0.0044109877001906085),
 ('obj_to_dum__Loan.Purpose_small_business', 0.10286757148900014),
 ('obj_to_dum__Loan.Purpose_car', -0.0186418731743484),
 ('obj_to_dum__Loan.Purpose_wedding', -0.21984698028510619),
 ('obj_to_dum__Loan.Purpose_medical', -0.05407603428506952),
 ('obj_to_dum__Loan.Purpose_moving', 0.33153526448929815),
 ('obj_to_dum__State_CA', -0.09403555402662346),
 ('obj_to_dum__State_NY', -0.03049484060245515),
 ('obj_to_dum__State_FL', 0.01575633323567908),
 ('obj_to_dum__State_TX', 0.38560903292376975),
 ('obj_to_dum__State_PA', -0.2271234553983387),
 ('obj_to_dum__State_IL', -0.28413013178150964),
 ('obj_to_dum__State_GA', -0.054931163870669195),
 ('obj_to_dum__State_NJ', -0.16829932527213376),
 ('obj_to_dum__State_VA', -0.009136012735517984),
 ('obj_to_dum__State_MA', -0.018586395991582814),
 ('obj_to_dum__State_OH', -0.08003331072640481),
 ('obj_to_dum__State_MD', 0.024873219799855288),
 ('obj_to_dum__State_NC', -0.1934207099361238),
 ('obj_to_dum__State_CO', 0.07340249018466707),
 ('obj_to_dum__State_WA', -0.06640568958694176),
 ('obj_to_dum__State_AZ', 0.20044843602609436),
 ('obj_to_dum__State_CT', 0.19326825394686117),
 ('obj_to_dum__State_MI', -0.005164120495478122),
 ('obj_to_dum__State_AL', 0.01918753647546172),
 ('obj_to_dum__State_MN', -0.028965255105018038),
 ('obj_to_dum__State_NV', -0.007186846051809639),
 ('obj_to_dum__State_MO', -0.08594261077792636),
 ('obj_to_dum__State_SC', 0.005806491518185583),
 ('obj_to_dum__State_WI', 0.038030009515453676),
 ('obj_to_dum__State_OR', 0.0308370406119538),
 ('obj_to_dum__State_KS', 0.08197413428898018),
 ('obj_to_dum__Home.Ownership_MORTGAGE', -0.23777154916015036),
 ('obj_to_dum__Home.Ownership_RENT', -0.028429075089255067),
 ('obj_to_dum__Home.Ownership_OWN', 0.05564423204976088),
 ('obj_to_dum__Employment.Length_10+ years', 0.13864630050571977),
 ('obj_to_dum__Employment.Length_< 1 year', -0.002043991761599767),
 ('obj_to_dum__Employment.Length_2 years', -0.02471891469007178),
 ('obj_to_dum__Employment.Length_3 years', -0.1417239116254148),
 ('obj_to_dum__Employment.Length_5 years', 0.17789863449206877),
 ('obj_to_dum__Employment.Length_4 years', 0.05714292199721259),
 ('obj_to_dum__Employment.Length_1 year', -0.11119223620676381),
 ('obj_to_dum__Employment.Length_6 years', 0.029221430912521263),
 ('obj_to_dum__Employment.Length_7 years', -0.014853206332269941),
 ('obj_to_dum__Employment.Length_8 years', -0.04676344115536233),
 ('obj_to_dum__Employment.Length_missing', 0.1291014620641814),
 ('obj_to_dum__Employment.Length_9 years', -0.18431885490248454),
 ('num__Monthly.Income', -2.900886649930685e-05),
 ('num__Inquiries.in.the.Last.6.Months', 0.33770493199324875),
 ('fico__fico', -0.08656924682909298)]

In [48]:
lm.coef_/ridge_model.coef_

array([ 9.69911944e-01,  9.81754592e-01,  9.66714488e-01, -2.24068261e-01,
       -9.35924306e-01,  3.00912960e+00,  2.42035065e+00,  2.23040215e+00,
        8.89281796e-02,  3.96951230e+00, -9.58390332e+01, -2.56858519e+00,
        2.90353952e+01,  4.41013943e+00,  1.10691246e+01,  2.17615123e+00,
        2.12437158e+00,  6.18614703e+00, -4.73160592e+00,  1.22902469e+00,
        2.06149061e+00,  2.01208718e+00,  3.26002016e+00,  2.25164303e+00,
        1.72056498e+01,  5.82457716e+00,  2.48868477e+00, -3.13174013e+00,
        2.56508150e+00,  5.59185867e-01,  4.02365760e+00,  1.89664509e+00,
        2.11403463e+00,  1.90090348e+01, -3.24127331e+00,  6.13615270e+00,
        3.25241033e+01,  4.07951368e+00, -6.76125999e+00,  2.89372797e-01,
        6.07010219e-01,  2.26635930e+00,  1.00887444e+01,  7.63428021e+01,
       -3.71155295e+01,  3.79515587e+00, -1.72319034e+02, -1.16329695e+01,
       -1.06550764e+00,  3.27926770e+00,  7.38888277e+00, -2.16931393e+00,
        1.33033061e+01, -2.55220888e+01, -5.54669374e+00,  4.82181500e+00,
       -1.63740614e-01,  9.00537919e-01,  9.97447808e-01,  9.98305280e-01])

## Lasso Regression

In [49]:
lambdas=np.linspace(1,10,100)

model=Lasso(fit_intercept=True)

params={'alpha':lambdas}

In [50]:
grid_search=GridSearchCV(model,
                         param_grid=params,
                         cv=10,
                         scoring='neg_mean_absolute_error',
                        verbose=20,n_jobs=-1)

In [51]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0329s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0342s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0755s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1613s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done  80 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done  88 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done  96 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 136 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 200 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 216 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done 248 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 296 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 328 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 344 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 360 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 376 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 392 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 408 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 424 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 440 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 456 tasks      | elapsed:    1.7s
[Parallel(n_jobs=-1)]: Done 472 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done 488 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done 520 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 536 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 568 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 584 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 600 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 616 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done 648 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done 664 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 680 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 696 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 712 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 728 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 744 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 776 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 808 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 824 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 840 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 856 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 872 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 888 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 904 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 920 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 936 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 937 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 938 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 939 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 940 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 941 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 942 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 943 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 959 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 961 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 962 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 963 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 964 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 965 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 966 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 967 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 968 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 969 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 970 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 971 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 972 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 973 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 974 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 975 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 977 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 978 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 979 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 980 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 981 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 982 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 983 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 984 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 985 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 986 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 987 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 988 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 990 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 991 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 992 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 993 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    3.6s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.54545455,  1.63636...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=20)

In [52]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [53]:
lambdas=np.linspace(.001,2,100)

params={'alpha':lambdas}

In [54]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17676768e-02...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [55]:
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [56]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: -1.600706 (std: 0.123574)
Parameters: {'alpha': 0.021191919191919192}

Model with rank: 2
Mean validation score: -1.608777 (std: 0.129103)
Parameters: {'alpha': 0.041383838383838384}

Model with rank: 3
Mean validation score: -1.615683 (std: 0.129650)
Parameters: {'alpha': 0.061575757575757575}

Model with rank: 4
Mean validation score: -1.616717 (std: 0.115096)
Parameters: {'alpha': 0.001}

Model with rank: 5
Mean validation score: -1.620303 (std: 0.130280)
Parameters: {'alpha': 0.08176767676767677}

In [57]:
lasso_model=grid_search.best_estimator_

In [58]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [59]:
lasso_model.intercept_

72.05485736242387

In [60]:
list(zip(data_pipe.get_feature_names(),lasso_model.coef_))

[('obj_to_num__Amount.Requested', 0.00016002823754526234),
 ('obj_to_num__Open.CREDIT.Lines', -0.0380807516599849),
 ('obj_to_num__Revolving.CREDIT.Balance', -3.190939063194295e-06),
 ('dtir__Debt.To.Income.Ratio', -0.00035647063732539624),
 ('obj_to_dum__Loan.Length_36 months', -0.0),
 ('obj_to_dum__Loan.Length_60 months', 3.03420127536005),
 ('obj_to_dum__Loan.Purpose_debt_consolidation', -0.17001965888491824),
 ('obj_to_dum__Loan.Purpose_credit_card', -0.2136884995089826),
 ('obj_to_dum__Loan.Purpose_other', 0.31957133590263687),
 ('obj_to_dum__Loan.Purpose_home_improvement', -0.0),
 ('obj_to_dum__Loan.Purpose_major_purchase', 0.0),
 ('obj_to_dum__Loan.Purpose_small_business', 0.0),
 ('obj_to_dum__Loan.Purpose_car', 0.0),
 ('obj_to_dum__Loan.Purpose_wedding', -0.0),
 ('obj_to_dum__Loan.Purpose_medical', -0.0),
 ('obj_to_dum__Loan.Purpose_moving', 0.0),
 ('obj_to_dum__State_CA', -0.0),
 ('obj_to_dum__State_NY', 0.0),
 ('obj_to_dum__State_FL', 0.0),
 ('obj_to_dum__State_TX', 0.24836489207892762),
 ('obj_to_dum__State_PA', -0.0),
 ('obj_to_dum__State_IL', -0.0),
 ('obj_to_dum__State_GA', -0.0),
 ('obj_to_dum__State_NJ', -0.0),
 ('obj_to_dum__State_VA', 0.0),
 ('obj_to_dum__State_MA', 0.0),
 ('obj_to_dum__State_OH', -0.0),
 ('obj_to_dum__State_MD', 0.0),
 ('obj_to_dum__State_NC', -0.0),
 ('obj_to_dum__State_CO', 0.0),
 ('obj_to_dum__State_WA', -0.0),
 ('obj_to_dum__State_AZ', 0.0),
 ('obj_to_dum__State_CT', 0.0),
 ('obj_to_dum__State_MI', 0.0),
 ('obj_to_dum__State_AL', 0.0),
 ('obj_to_dum__State_MN', -0.0),
 ('obj_to_dum__State_NV', 0.0),
 ('obj_to_dum__State_MO', -0.0),
 ('obj_to_dum__State_SC', 0.0),
 ('obj_to_dum__State_WI', 0.0),
 ('obj_to_dum__State_OR', 0.0),
 ('obj_to_dum__State_KS', 0.0),
 ('obj_to_dum__Home.Ownership_MORTGAGE', -0.1466133897381157),
 ('obj_to_dum__Home.Ownership_RENT', 0.0),
 ('obj_to_dum__Home.Ownership_OWN', 0.0),
 ('obj_to_dum__Employment.Length_10+ years', 0.02490400117318291),
 ('obj_to_dum__Employment.Length_< 1 year', 0.0),
 ('obj_to_dum__Employment.Length_2 years', -0.0),
 ('obj_to_dum__Employment.Length_3 years', -0.0),
 ('obj_to_dum__Employment.Length_5 years', 0.0),
 ('obj_to_dum__Employment.Length_4 years', 0.0),
 ('obj_to_dum__Employment.Length_1 year', -0.0),
 ('obj_to_dum__Employment.Length_6 years', 0.0),
 ('obj_to_dum__Employment.Length_7 years', -0.0),
 ('obj_to_dum__Employment.Length_8 years', -0.0),
 ('obj_to_dum__Employment.Length_missing', 0.0),
 ('obj_to_dum__Employment.Length_9 years', -0.0),
 ('num__Monthly.Income', -2.662127603641003e-05),
 ('num__Inquiries.in.the.Last.6.Months', 0.32636592876654963),
 ('fico__fico', -0.08645124131434413)]

In [61]:
(lasso_model.coef_==0).sum()

46

# Logistic Regression

In [62]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd 
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [66]:
bd_test=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\rg_test.csv')
bd_train=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\rg_train.csv')

In [67]:
bd_train.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.0,2,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.0,2,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.0,2,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.0,2,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.0,2,Female,South West,48.58,9.58,20.65,56.17

In [68]:
bd_train['family_income'].value_counts(dropna=False)

>=35,000             2036
<27,500, >=25,000     978
<30,000, >=27,500     788
<25,000, >=22,500     676
<20,000, >=17,500     542
<12,500, >=10,000     536
<17,500, >=15,000     511
<15,000, >=12,500     497
<22,500, >=20,000     461
<10,000, >= 8,000     454
< 8,000, >= 4,000     322
< 4,000               222
Unknown               101
Name: family_income, dtype: int64

In [69]:
# drop : REF_NO, post_area , post_code,Revenue.Grid 
# children : convert zero:0 and 4+: 4 and then convert to numeric 
# age_band : 71+ : 71, Unknown: NA, rest: split and average
# status, occupation, occupation_partner,home_status: create dummies with freq cutoff
# family_income : remove [,>=], 35000:35000, 4000: 4000, unknown:NA, rest : split then avg
# self_employed, self_employed_partner : dummies 
# year_last_moved : keep as is 
# TVarea : dummies 
# 'Average.Credit.Card.Transaction', 'Balance.Transfer',
#       'Term.Deposit', 'Life.Insurance', 'Medical.Insurance',
#       'Average.A.C.Balance', 'Personal.Loan', 'Investment.in.Mutual.Fund',
#       'Investment.Tax.Saving.Bond', 'Home.Loan', 'Online.Purchase.Amount'
# 'Investment.in.Commudity',
#       'Investment.in.Equity', 'Investment.in.Derivative',
#      'Portfolio.Balance' : as is 
# gender , region : dummies

In [70]:
bd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average.Credit.Card.Transaction  8124 non-null   float64
 15  Balance.Transfer                 8124 non-null   float64
 16  Term.Deposit                     8124 non-null   float64
 17  Life.Insurance                   8124 non-null   float64
 18  Medical.Insurance                8124 non-null   float64
 19  Average.A.C.Balance              8124 non-null   float64
 20  Personal.Loan                    8124 non-null   float64
 21  Investment.in.Mutual.Fund        8124 non-null   float64
 22  Investment.Tax.Saving.Bond       8124 non-null   float64
 23  Home.Loan                        8124 non-null   float64
 24  Online.Purchase.Amount           8124 non-null   float64
 25  Revenue.Grid                     8124 non-null   int64
 26  gender                           8124 non-null   object
 27  region                           8124 non-null   object
 28  Investment.in.Commudity          8124 non-null   float64
 29  Investment.in.Equity             8124 non-null   float64
 30  Investment.in.Derivative         8124 non-null   float64
 31  Portfolio.Balance                8124 non-null   float64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

In [71]:
num_vars=list(bd_train.select_dtypes(exclude=['object']).columns)

In [72]:
num_vars

['REF_NO',
 'year_last_moved',
 'Average.Credit.Card.Transaction',
 'Balance.Transfer',
 'Term.Deposit',
 'Life.Insurance',
 'Medical.Insurance',
 'Average.A.C.Balance',
 'Personal.Loan',
 'Investment.in.Mutual.Fund',
 'Investment.Tax.Saving.Bond',
 'Home.Loan',
 'Online.Purchase.Amount',
 'Revenue.Grid',
 'Investment.in.Commudity',
 'Investment.in.Equity',
 'Investment.in.Derivative',
 'Portfolio.Balance']

In [73]:
num_vars=[_ for _ in num_vars if _ not in ['REF_NO','Revenue.Grid']]

In [74]:
num_vars

['year_last_moved',
 'Average.Credit.Card.Transaction',
 'Balance.Transfer',
 'Term.Deposit',
 'Life.Insurance',
 'Medical.Insurance',
 'Average.A.C.Balance',
 'Personal.Loan',
 'Investment.in.Mutual.Fund',
 'Investment.Tax.Saving.Bond',
 'Home.Loan',
 'Online.Purchase.Amount',
 'Investment.in.Commudity',
 'Investment.in.Equity',
 'Investment.in.Derivative',
 'Portfolio.Balance']

In [75]:
cat_vars=list(bd_train.select_dtypes(include=['object']).columns)

In [76]:
cat_vars

['children',
 'age_band',
 'status',
 'occupation',
 'occupation_partner',
 'home_status',
 'family_income',
 'self_employed',
 'self_employed_partner',
 'TVarea',
 'post_code',
 'post_area',
 'gender',
 'region']

In [77]:
cat_vars=[_ for _ in cat_vars if _ not in 
          ['children','age_band', 'post_code','post_area','family_income']]

In [78]:
cat_vars

['status',
 'occupation',
 'occupation_partner',
 'home_status',
 'self_employed',
 'self_employed_partner',
 'TVarea',
 'gender',
 'region']

In [79]:
p1=pdPipeline([
    ('var_select',VarSelector(num_vars)),
    ('missing_trt',DataFrameImputer())
])

In [80]:
p2=pdPipeline([
    ('var_select',VarSelector(cat_vars)),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(70))
])

In [81]:
p3=pdPipeline([
    ('var_select',VarSelector(['age_band'])),
    ('custom_fico',custom_age_band()),
    ('missing_trt',DataFrameImputer())
])

p4=pdPipeline([
    ('var_select',VarSelector(['family_income'])),
    ('custom_fico',custom_family_income()),
    ('missing_trt',DataFrameImputer())
])

p5=pdPipeline([
    ('var_select',VarSelector(['children'])),
    ('string_clean1',string_clean(replace_it='Zero',replace_with='0')),
    ('string_clean2',string_clean(replace_it='4+',replace_with='4')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [82]:
data_pipe=FeatureUnion([
    ('num',p1),
    ('obj_to_dum',p2),
    ('age_band',p3),
    ('family_income',p4),
    ('children',p5)
])

In [83]:
x_train=pd.DataFrame(data=data_pipe.fit_transform(bd_train),
                     columns=data_pipe.get_feature_names())

In [84]:
x_test=pd.DataFrame(data=data_pipe.transform(bd_test),
                     columns=data_pipe.get_feature_names())

In [85]:
bd_train['Revenue.Grid'].value_counts(dropna=False)

2    7261
1     863
Name: Revenue.Grid, dtype: int64

In [86]:
y_train=(bd_train['Revenue.Grid']==1).astype(int)

In [87]:
x_train.shape

(8124, 71)

In [88]:
x_test.shape

(2031, 71)

In [89]:
x_train.head()

,num__year_last_moved,num__Average.Credit.Card.Transaction,num__Balance.Transfer,num__Term.Deposit,num__Life.Insurance,num__Medical.Insurance,num__Average.A.C.Balance,num__Personal.Loan,num__Investment.in.Mutual.Fund,num__Investment.Tax.Saving.Bond,...,obj_to_dum__region_West Midlands,obj_to_dum__region_Scotland,obj_to_dum__region_East Midlands,obj_to_dum__region_North,obj_to_dum__region_Wales,obj_to_dum__region_East Anglia,obj_to_dum__region_Northern Ireland,age_band__age_band,family_income__fi,children__children
0,1999.0,0.00,0.00,196.95,132.42,0.00,0.00,21.47,24.18,7.49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.5,35000.0,1.0
1,1959.0,0.00,77.89,0.00,134.39,0.00,7.99,14.98,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,11250.0,1.0
2,1992.0,119.98,0.00,96.94,0.00,159.97,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,33.0,35000.0,3.0
3,1990.0,0.00,39.99,0.00,133.93,0.00,39.48,0.00,0.00,2.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.5,35000.0,0.0
4,1994.0,0.00,161.47,14.99,58.97,7.49,57.46,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0,26250.0,2.0

In [90]:
from sklearn.linear_model import LogisticRegression

In [91]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':[.0001,.0005,.001,.005,.01,.05,.1,1,2,5]}

In [92]:
model=LogisticRegression(fit_intercept=True)

In [93]:
from sklearn.model_selection import GridSearchCV

In [94]:
grid_search=GridSearchCV(model,
                         param_grid=params,
                         cv=10,
                         scoring="roc_auc",
                         n_jobs=-1,
                         verbose=20)

In [95]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 40 candidates, totalling 400 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1944s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  29 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  31 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done  35 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  54 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  58 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  60 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  62 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:    5.2s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:    5.5s
[Parallel(n_jobs=-1)]: Done  76 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  78 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  80 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  84 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  86 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  88 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:    5.9s
[Parallel(n_jobs=-1)]: Done  92 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done  96 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done  98 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 100 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 102 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 106 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 108 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 110 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 114 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 116 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 118 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 122 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 126 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done 132 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 134 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 136 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 140 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 142 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 144 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:    8.1s
[Parallel(n_jobs=-1)]: Done 148 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done 150 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 156 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 162 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 164 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 166 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 170 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 172 tasks      | elapsed:    9.5s
[Parallel(n_jobs=-1)]: Done 174 tasks      | elapsed:    9.5s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:    9.5s
[Parallel(n_jobs=-1)]: Done 178 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 180 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 182 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 186 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 188 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 190 tasks      | elapsed:   10.2s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done 194 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 198 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 200 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 202 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 204 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 206 tasks      | elapsed:   10.6s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 210 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 212 tasks      | elapsed:   11.2s
[Parallel(n_jobs=-1)]: Done 214 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 216 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 218 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 220 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 222 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 224 tasks      | elapsed:   11.4s

[Parallel(n_jobs=-1)]: Done 226 tasks      | elapsed:   11.7s
[Parallel(n_jobs=-1)]: Done 228 tasks      | elapsed:   11.8s
[Parallel(n_jobs=-1)]: Done 230 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 236 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 238 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 240 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 242 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 244 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 246 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 248 tasks      | elapsed:   12.6s
[Parallel(n_jobs=-1)]: Done 250 tasks      | elapsed:   12.8s
[Parallel(n_jobs=-1)]: Done 252 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 254 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 256 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 258 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 260 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done 262 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done 266 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done 268 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done 270 tasks      | elapsed:   14.0s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   14.1s
[Parallel(n_jobs=-1)]: Done 274 tasks      | elapsed:   14.1s
[Parallel(n_jobs=-1)]: Done 276 tasks      | elapsed:   14.2s
[Parallel(n_jobs=-1)]: Done 278 tasks      | elapsed:   14.2s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   14.3s
[Parallel(n_jobs=-1)]: Done 282 tasks      | elapsed:   14.3s
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:   14.3s
[Parallel(n_jobs=-1)]: Done 286 tasks      | elapsed:   14.4s
[Parallel(n_jobs=-1)]: Done 288 tasks      | elapsed:   14.8s
[Parallel(n_jobs=-1)]: Done 290 tasks      | elapsed:   14.8s
[Parallel(n_jobs=-1)]: Done 292 tasks      | elapsed:   15.0s
[Parallel(n_jobs=-1)]: Done 294 tasks      | elapsed:   15.1s
[Parallel(n_jobs=-1)]: Done 296 tasks      | elapsed:   15.1s
[Parallel(n_jobs=-1)]: Done 298 tasks      | elapsed:   15.1s
[Parallel(n_jobs=-1)]: Done 300 tasks      | elapsed:   15.1s
[Parallel(n_jobs=-1)]: Done 302 tasks      | elapsed:   15.2s
[Parallel(n_jobs=-1)]: Done 304 tasks      | elapsed:   15.2s
[Parallel(n_jobs=-1)]: Done 306 tasks      | elapsed:   15.5s
[Parallel(n_jobs=-1)]: Done 308 tasks      | elapsed:   15.5s
[Parallel(n_jobs=-1)]: Done 310 tasks      | elapsed:   15.7s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   15.8s
[Parallel(n_jobs=-1)]: Done 314 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 316 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 318 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 320 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 322 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 324 tasks      | elapsed:   16.2s
[Parallel(n_jobs=-1)]: Done 326 tasks      | elapsed:   16.2s
[Parallel(n_jobs=-1)]: Done 328 tasks      | elapsed:   16.3s
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:   16.5s
[Parallel(n_jobs=-1)]: Done 332 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 334 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 336 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 338 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 340 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 342 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 344 tasks      | elapsed:   16.9s
[Parallel(n_jobs=-1)]: Done 346 tasks      | elapsed:   16.9s
[Parallel(n_jobs=-1)]: Done 348 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 350 tasks      | elapsed:   17.4s
[Parallel(n_jobs=-1)]: Done 352 tasks      | elapsed:   17.5s
[Parallel(n_jobs=-1)]: Done 354 tasks      | elapsed:   17.5s
[Parallel(n_jobs=-1)]: Done 356 tasks      | elapsed:   17.5s
[Parallel(n_jobs=-1)]: Done 358 tasks      | elapsed:   17.5s
[Parallel(n_jobs=-1)]: Done 360 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 362 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 364 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 366 tasks      | elapsed:   17.7s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:   18.0s
[Parallel(n_jobs=-1)]: Done 370 tasks      | elapsed:   18.1s
[Parallel(n_jobs=-1)]: Done 372 tasks      | elapsed:   18.2s
[Parallel(n_jobs=-1)]: Done 374 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 376 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 378 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 380 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 382 tasks      | elapsed:   18.4s
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:   18.4s
[Parallel(n_jobs=-1)]: Done 386 tasks      | elapsed:   18.6s
[Parallel(n_jobs=-1)]: Done 388 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done 390 tasks      | elapsed:   18.9s
[Parallel(n_jobs=-1)]: Done 393 out of 400 | elapsed:   19.2s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 400 out of 400 | elapsed:   19.6s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.05, 0.1, 1,
                               2, 5],
                         'class_weight': ['balanced', None],
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=20)

In [96]:
grid_search.best_estimator_

LogisticRegression(C=0.0005, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [97]:
logr=grid_search.best_estimator_

In [98]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: 0.952091 (std: 0.014137)
Parameters: {'C': 0.0005, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 2
Mean validation score: 0.951791 (std: 0.013776)
Parameters: {'C': 0.05, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 3
Mean validation score: 0.950865 (std: 0.013465)
Parameters: {'C': 0.005, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 4
Mean validation score: 0.950713 (std: 0.013999)
Parameters: {'C': 0.0001, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 5
Mean validation score: 0.950484 (std: 0.013191)
Parameters: {'C': 2, 'class_weight': 'balanced', 'penalty': 'l2'}

In [99]:
LogisticRegression?

In [100]:
logr=LogisticRegression(fit_intercept=True,
                        **{'C': 0.005, 'class_weight': 'balanced', 'penalty': 'l1'},solver='liblinear')
# default solver lbfgs does not support l1 penalty for some versions of sklearn
# if you get an error like that , simply use solver='liblinear', it supports both l1 & l2 penalty

In [101]:
logr.fit(x_train,y_train)

LogisticRegression(C=0.005, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [102]:
(logr.coef_[0]==0).sum()

57

In [103]:
list(zip(x_train.columns,logr.coef_[0]))

[('num__year_last_moved', -0.0010004827057500324),
 ('num__Average.Credit.Card.Transaction', 0.022372387446512605),
 ('num__Balance.Transfer', -0.005119885570144822),
 ('num__Term.Deposit', -0.0193199950080998),
 ('num__Life.Insurance', 0.01390961334441651),
 ('num__Medical.Insurance', -0.008239722412755363),
 ('num__Average.A.C.Balance', -0.0028458793096948257),
 ('num__Personal.Loan', -0.029914226759674603),
 ('num__Investment.in.Mutual.Fund', 0.0007555940935931808),
 ('num__Investment.Tax.Saving.Bond', 0.09044194696583398),
 ('num__Home.Loan', -0.06544426185154259),
 ('num__Online.Purchase.Amount', 0.05254180985693262),
 ('num__Investment.in.Commudity', 0.0),
 ('num__Investment.in.Equity', 0.0),
 ('num__Investment.in.Derivative', 0.0),
 ('num__Portfolio.Balance', 0.0),
 ('obj_to_dum__status_Partner', 0.0),
 ('obj_to_dum__status_Single/Never Married', 0.0),
 ('obj_to_dum__status_Divorced/Separated', 0.0),
 ('obj_to_dum__status_Widowed', 0.0),
 ('obj_to_dum__occupation_Professional', 0.0),
 ('obj_to_dum__occupation_Retired', 0.0),
 ('obj_to_dum__occupation_Secretarial/Admin', 0.0),
 ('obj_to_dum__occupation_Housewife', 0.0),
 ('obj_to_dum__occupation_Business Manager', 0.0),
 ('obj_to_dum__occupation_Manual Worker', 0.0),
 ('obj_to_dum__occupation_Unknown', 0.0),
 ('obj_to_dum__occupation_Other', 0.0),
 ('obj_to_dum__occupation_partner_Unknown', 0.0),
 ('obj_to_dum__occupation_partner_Professional', 0.0),
 ('obj_to_dum__occupation_partner_Retired', 0.0),
 ('obj_to_dum__occupation_partner_Manual Worker', 0.0),
 ('obj_to_dum__occupation_partner_Business Manager', 0.0),
 ('obj_to_dum__occupation_partner_Secretarial/Admin', 0.0),
 ('obj_to_dum__occupation_partner_Housewife', 0.0),
 ('obj_to_dum__occupation_partner_Other', 0.0),
 ('obj_to_dum__home_status_Own Home', 0.0),
 ('obj_to_dum__home_status_Rent from Council/HA', 0.0),
 ('obj_to_dum__home_status_Rent Privately', 0.0),
 ('obj_to_dum__home_status_Live in Parental Hom', 0.0),
 ('obj_to_dum__self_employed_No', 0.0),
 ('obj_to_dum__self_employed_partner_No', 0.0),
 ('obj_to_dum__TVarea_Central', 0.0),
 ('obj_to_dum__TVarea_Carlton', 0.0),
 ('obj_to_dum__TVarea_Meridian', 0.0),
 ('obj_to_dum__TVarea_Yorkshire', 0.0),
 ('obj_to_dum__TVarea_Granada', 0.0),
 ('obj_to_dum__TVarea_HTV', 0.0),
 ('obj_to_dum__TVarea_Anglia', 0.0),
 ('obj_to_dum__TVarea_Tyne Tees', 0.0),
 ('obj_to_dum__TVarea_Scottish TV', 0.0),
 ('obj_to_dum__TVarea_TV South West', 0.0),
 ('obj_to_dum__TVarea_Grampian', 0.0),
 ('obj_to_dum__TVarea_Unknown', 0.0),
 ('obj_to_dum__TVarea_Ulster', 0.0),
 ('obj_to_dum__gender_Female', 0.0),
 ('obj_to_dum__gender_Male', 0.0),
 ('obj_to_dum__region_South East', 0.0),
 ('obj_to_dum__region_North West', 0.0),
 ('obj_to_dum__region_Unknown', 0.0),
 ('obj_to_dum__region_South West', 0.0),
 ('obj_to_dum__region_West Midlands', 0.0),
 ('obj_to_dum__region_Scotland', 0.0),
 ('obj_to_dum__region_East Midlands', 0.0),
 ('obj_to_dum__region_North', 0.0),
 ('obj_to_dum__region_Wales', 0.0),
 ('obj_to_dum__region_East Anglia', 0.0),
 ('obj_to_dum__region_Northern Ireland', 0.0),
 ('age_band__age_band', -0.00997358659365979),
 ('family_income__fi', -3.456478360355455e-06),
 ('children__children', 0.0)]

In [104]:
logr.predict_proba(x_test)

array([[0.99670484, 0.00329516],
       [0.95988786, 0.04011214],
       [0.99214983, 0.00785017],
       ...,
       [0.97533149, 0.02466851],
       [0.79131417, 0.20868583],
       [0.81697277, 0.18302723]])

In [105]:
logr.classes_

array([0, 1])

In [106]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99])

In [107]:
logr.predict_proba(x_train)

array([[0.99068461, 0.00931539],
       [0.8685979 , 0.1314021 ],
       [0.95025481, 0.04974519],
       ...,
       [0.44771712, 0.55228288],
       [0.93801049, 0.06198951],
       [0.98048767, 0.01951233]])

In [108]:
logr.classes_

array([0, 1])

In [109]:
train_score=logr.predict_proba(x_train)[:,1]
real=y_train
 # In  order to find the probability of which column is for outcome 1 and which for outcome 0

In [110]:
(train_score>0.2).astype(int)

array([0, 0, 0, ..., 1, 0, 0])

In [111]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
    
      
    KS=(TP/P)-(FP/N)
       
    KS_all.append(KS)

In [112]:
list(zip(cutoffs,KS_all))

[(0.01, 0.09953986782829838),
 (0.02, 0.15699375207760058),
 (0.03, 0.2090764753297949),
 (0.04, 0.2612161705187622),
 (0.05, 0.31034975822035626),
 (0.060000000000000005, 0.36970797334224026),
 (0.06999999999999999, 0.4378472076489852),
 (0.08, 0.499432754203755),
 (0.09, 0.5505276447147038),
 (0.09999999999999999, 0.5828353608374268),
 (0.11, 0.6095202500126471),
 (0.12, 0.6355497225370929),
 (0.13, 0.6549685353727903),
 (0.14, 0.6704171861831723),
 (0.15000000000000002, 0.6843508941482161),
 (0.16, 0.6983985459868058),
 (0.17, 0.7096347843516442),
 (0.18000000000000002, 0.7202631624723139),
 (0.19, 0.7287687375034769),
 (0.2, 0.7360110356396967),
 (0.21000000000000002, 0.7448252485580276),
 (0.22, 0.7513219643732296),
 (0.23, 0.7570493196641113),
 (0.24000000000000002, 0.7638784515697843),
 (0.25, 0.7701566951680616),
 (0.26, 0.7753901340883206),
 (0.27, 0.779740268610713),
 (0.28, 0.7860754841457632),
 (0.29000000000000004, 0.7845511257702582),
 (0.3, 0.7861705969589752),
 (0.31, 0.7919549241866298),
 (0.32, 0.7939068114658178),
 (0.33, 0.7964095870524013),
 (0.34, 0.798499196408438),
 (0.35000000000000003, 0.8022984426234347),
 (0.36000000000000004, 0.8055468005310359),
 (0.37, 0.8064776613355084),
 (0.38, 0.8067199117557363),
 (0.39, 0.8061358297148706),
 (0.4, 0.8067104962255692),
 (0.41000000000000003, 0.8094079658257747),
 (0.42000000000000004, 0.810533520643869),
 (0.43, 0.8113836313082656),
 (0.44, 0.8130600744337555),
 (0.45, 0.8148504614327915),
 (0.46, 0.8176049029697698),
 (0.47000000000000003, 0.819200595955184),
 (0.48000000000000004, 0.8197182905291096),
 (0.49, 0.8165412672314176),
 (0.5, 0.8143852704084409),
 (0.51, 0.8139958823811971),
 (0.52, 0.8131363561866337),
 (0.53, 0.8148697712488966),
 (0.54, 0.8138725229774844),
 (0.55, 0.8105577776029432),
 (0.56, 0.8052579512157445),
 (0.5700000000000001, 0.8015870115474296),
 (0.5800000000000001, 0.8012783736602618),
 (0.59, 0.7962539914267608),
 (0.6, 0.7978496844121749),
 (0.61, 0.7980681566290998),
 (0.62, 0.794534939037634),
 (0.63, 0.7946964393177858),
 (0.64, 0.7908877775726221),
 (0.65, 0.7836836203128413),
 (0.66, 0.784315258760313),
 (0.67, 0.7818838177836385),
 (0.68, 0.7816321518332436),
 (0.6900000000000001, 0.7724429135608051),
 (0.7000000000000001, 0.7667299209430595),
 (0.7100000000000001, 0.7619809828632563),
 (0.72, 0.7526540225139688),
 (0.73, 0.7472164740499212),
 (0.74, 0.7419736195994953),
 (0.75, 0.7330598254807545),
 (0.76, 0.729194191798818),
 (0.77, 0.7156454034738199),
 (0.78, 0.7036685299309331),
 (0.79, 0.6966020947480013),
 (0.8, 0.6901435198092382),
 (0.81, 0.6804841433694799),
 (0.8200000000000001, 0.67361240220017),
 (0.8300000000000001, 0.6644231639277316),
 (0.8400000000000001, 0.6462963533332492),
 (0.85, 0.6401701944849569),
 (0.86, 0.6339063135598156),
 (0.87, 0.6209084135422134),
 (0.88, 0.6126024796676414),
 (0.89, 0.5993861074331143),
 (0.9, 0.5869960676596806),
 (0.91, 0.5705788939241584),
 (0.92, 0.5508231966107922),
 (0.93, 0.5288307523343732),
 (0.9400000000000001, 0.5055988093663141),
 (0.9500000000000001, 0.4853729738856281),
 (0.9600000000000001, 0.4590779514934228),
 (0.97, 0.4330014013181423),
 (0.98, 0.3906216212808855),
 (0.99, 0.3386394367406435)]

In [113]:
mycutoff=cutoffs[KS_all==max(KS_all)]
mycutoff

array([0.48])

In [114]:
logr.intercept_

array([0.])

In [115]:
list(zip(x_train.columns,logr.coef_[0]))

[('num__year_last_moved', -0.0010004827057500324),
 ('num__Average.Credit.Card.Transaction', 0.022372387446512605),
 ('num__Balance.Transfer', -0.005119885570144822),
 ('num__Term.Deposit', -0.0193199950080998),
 ('num__Life.Insurance', 0.01390961334441651),
 ('num__Medical.Insurance', -0.008239722412755363),
 ('num__Average.A.C.Balance', -0.0028458793096948257),
 ('num__Personal.Loan', -0.029914226759674603),
 ('num__Investment.in.Mutual.Fund', 0.0007555940935931808),
 ('num__Investment.Tax.Saving.Bond', 0.09044194696583398),
 ('num__Home.Loan', -0.06544426185154259),
 ('num__Online.Purchase.Amount', 0.05254180985693262),
 ('num__Investment.in.Commudity', 0.0),
 ('num__Investment.in.Equity', 0.0),
 ('num__Investment.in.Derivative', 0.0),
 ('num__Portfolio.Balance', 0.0),
 ('obj_to_dum__status_Partner', 0.0),
 ('obj_to_dum__status_Single/Never Married', 0.0),
 ('obj_to_dum__status_Divorced/Separated', 0.0),
 ('obj_to_dum__status_Widowed', 0.0),
 ('obj_to_dum__occupation_Professional', 0.0),
 ('obj_to_dum__occupation_Retired', 0.0),
 ('obj_to_dum__occupation_Secretarial/Admin', 0.0),
 ('obj_to_dum__occupation_Housewife', 0.0),
 ('obj_to_dum__occupation_Business Manager', 0.0),
 ('obj_to_dum__occupation_Manual Worker', 0.0),
 ('obj_to_dum__occupation_Unknown', 0.0),
 ('obj_to_dum__occupation_Other', 0.0),
 ('obj_to_dum__occupation_partner_Unknown', 0.0),
 ('obj_to_dum__occupation_partner_Professional', 0.0),
 ('obj_to_dum__occupation_partner_Retired', 0.0),
 ('obj_to_dum__occupation_partner_Manual Worker', 0.0),
 ('obj_to_dum__occupation_partner_Business Manager', 0.0),
 ('obj_to_dum__occupation_partner_Secretarial/Admin', 0.0),
 ('obj_to_dum__occupation_partner_Housewife', 0.0),
 ('obj_to_dum__occupation_partner_Other', 0.0),
 ('obj_to_dum__home_status_Own Home', 0.0),
 ('obj_to_dum__home_status_Rent from Council/HA', 0.0),
 ('obj_to_dum__home_status_Rent Privately', 0.0),
 ('obj_to_dum__home_status_Live in Parental Hom', 0.0),
 ('obj_to_dum__self_employed_No', 0.0),
 ('obj_to_dum__self_employed_partner_No', 0.0),
 ('obj_to_dum__TVarea_Central', 0.0),
 ('obj_to_dum__TVarea_Carlton', 0.0),
 ('obj_to_dum__TVarea_Meridian', 0.0),
 ('obj_to_dum__TVarea_Yorkshire', 0.0),
 ('obj_to_dum__TVarea_Granada', 0.0),
 ('obj_to_dum__TVarea_HTV', 0.0),
 ('obj_to_dum__TVarea_Anglia', 0.0),
 ('obj_to_dum__TVarea_Tyne Tees', 0.0),
 ('obj_to_dum__TVarea_Scottish TV', 0.0),
 ('obj_to_dum__TVarea_TV South West', 0.0),
 ('obj_to_dum__TVarea_Grampian', 0.0),
 ('obj_to_dum__TVarea_Unknown', 0.0),
 ('obj_to_dum__TVarea_Ulster', 0.0),
 ('obj_to_dum__gender_Female', 0.0),
 ('obj_to_dum__gender_Male', 0.0),
 ('obj_to_dum__region_South East', 0.0),
 ('obj_to_dum__region_North West', 0.0),
 ('obj_to_dum__region_Unknown', 0.0),
 ('obj_to_dum__region_South West', 0.0),
 ('obj_to_dum__region_West Midlands', 0.0),
 ('obj_to_dum__region_Scotland', 0.0),
 ('obj_to_dum__region_East Midlands', 0.0),
 ('obj_to_dum__region_North', 0.0),
 ('obj_to_dum__region_Wales', 0.0),
 ('obj_to_dum__region_East Anglia', 0.0),
 ('obj_to_dum__region_Northern Ireland', 0.0),
 ('age_band__age_band', -0.00997358659365979),
 ('family_income__fi', -3.456478360355455e-06),
 ('children__children', 0.0)]

In [118]:
logr.predict_proba(x_test)

array([[0.99670484, 0.00329516],
       [0.95988786, 0.04011214],
       [0.99214983, 0.00785017],
       ...,
       [0.97533149, 0.02466851],
       [0.79131417, 0.20868583],
       [0.81697277, 0.18302723]])

In [119]:
test_score=logr.predict_proba(x_test)[:,1]
test_score

array([0.00329516, 0.04011214, 0.00785017, ..., 0.02466851, 0.20868583,
       0.18302723])

In [120]:
(test_score>mycutoff).astype(int)

array([0, 0, 0, ..., 0, 0, 0])

In [121]:
pd.DataFrame(test_score).to_csv("mysubmission.csv",index=False)

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [122]:
test_classes=(test_score>mycutoff).astype(int)

In [123]:
pd.DataFrame(test_classes).to_csv("mysubmission.csv",index=False)