# Object Creation and Naming Rules

In [1]:
x=4
y=5

In [2]:
x

4

In [3]:
y

5

Python is case sensitive programming language

In [4]:
X

NameError: name 'X' is not defined

In [5]:
var1=34

In [6]:
thisisavariablewhichijustcreated=21

In [7]:
this_is_a_variable_which_i_just_created=34

In [8]:
who

this_is_a_variable_which_i_just_created	 thisisavariablewhichijustcreated	 var1	 x	 y

In [9]:
del thisisavariablewhichijustcreated

In [10]:
del this_is_a_variable_which_i_just_created

In [11]:
who

var1	 x	 y

In [12]:
pass1 ='any value'

In [13]:
## how to get the list of reserved words 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# TypeCastinig

In [14]:
x=34
y='November'

In [15]:
type(x)

int

In [16]:
type(y)

str

In [17]:
x='34'

In [18]:
type(x)

str

In [24]:
x+3

37

In [20]:
int(x)+3

37

In [21]:
type(x)

str

In [22]:
x=int(x)

In [23]:
type(x)

int

In [25]:
# int, str,bool

# Numeric Data and Operations

In [26]:
x=2
y=19

In [27]:
print(x+y)

21

In [28]:
x-y

print(x*y)

38

In [29]:
x/y

0.10526315789473684

In [30]:
x^y , x**y

# ^ bitwise or
# do not use ^ for powers 
# always use **

(17, 524288)

In [31]:
z=(x/y)**(x*y+3)

In [32]:
z

8.190910549494282e-41

In [33]:
x+2,y/10,x-y,x**y

(4, 1.9, -17, 524288)

In [34]:
a=x+2
b=y/10
c=x-y
d=x**y

In [35]:
a,b,c,d

(4, 1.9, -17, 524288)

In [36]:
a

4

In [37]:
a,b,c,d = x+2,y/10,x-y,x**y

In [38]:
a,b,c,d

(4, 1.9, -17, 524288)

In [39]:
import math as m

In [40]:
log(34,10)

NameError: name 'log' is not defined

In [42]:
m.log(34,10)

1.5314789170422551

In [41]:
m.cos(0)

1.0

In [43]:
from math import *

In [44]:
cos(34)

-0.8485702747846052

# Boolean Data and Operations

In [45]:
x=True

In [46]:
y=False

In [47]:
type(x)

bool

In [48]:
x and y, x & y

(False, False)

In [49]:
x or y , x | y

(True, True)

In [50]:
not x

False

In [51]:
not y

True

In [52]:
a=34

In [53]:
a>34

False

In [54]:
(a>34) and (a=='ABC')

False

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [55]:
x='python'

In [56]:
x=='Python'

False

In [57]:
x!='Python'

True

In [58]:
x=45
y=67

In [59]:
(x ==4 or y > 15 )

True

In [60]:
(x > 20 and y<10)

False

In [61]:
(x > 20 and y<10) or (x ==4 or y > 15 )

True

In [62]:
x

45

In [63]:
x='python'

In [64]:
y='py'

In [65]:
y in x

True

In [66]:
y not in x

False

# String Data and Operations

In [67]:
x='Python'
y='Data'

In [68]:
type(x),type(y)

(str, str)

In [69]:
len(x),len(y)

(6, 4)

In [70]:
x+y

'PythonData'

In [71]:
x*3

'PythonPythonPython'

In [72]:
z=x+' and '+y

In [73]:
z

'Python and Data'

In [74]:
type(z)

str

In [75]:
z.lower()

'python and data'

In [76]:
z

'Python and Data'

In [77]:
z.upper()

'PYTHON AND DATA'

In [78]:
z.capitalize()

'Python and data'

In [79]:
z.rjust(20)

'     Python and Data'

In [80]:
z.ljust(20)

'Python and Data     '

In [81]:
z=z.center(29)

In [82]:
z

'       Python and Data       '

In [83]:
't' in z

True

In [84]:
z.lstrip()

'Python and Data       '

In [85]:
z.rstrip()

'       Python and Data'

In [86]:
z.strip()

'Python and Data'

In [87]:
z.replace('a',"@#!",1)

'       Python @#!nd Data       '

In [88]:
z

'       Python and Data       '

In [89]:
help(z.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

# Indexing

In [90]:
x='PythonIndex'

In [91]:
x

'PythonIndex'

In [92]:
x[4]

'o'

In [93]:
x[-5]

'I'

In [94]:
x[2:7]

'thonI'

In [95]:
x[2:-3]

'thonIn'

In [96]:
x[4:1]

''

In [97]:
x[-10:-4]

'ythonI'

In [98]:
x[2:10]

'thonInde'

In [99]:
x[2:10:1]

'thonInde'

In [100]:
x[2:10:2]

'toId'

In [101]:
x[2:10:-1]

''

In [102]:
x[10:2:-1]

'xednInoh'

In [103]:
x[2:]

'thonIndex'

In [104]:
x[2::-1]

'tyP'

In [105]:
x[::-1]

'xednInohtyP'

In [107]:
x='ABC-SDF'

In [109]:
x.split('-')

['ABC', 'SDF']

# Lists

In [110]:
x=[20,92,43,83,"ABC","a","c",45]

In [111]:
x[3:7]

[83, 'ABC', 'a', 'c']

In [112]:
x[2:]

[43, 83, 'ABC', 'a', 'c', 45]

In [113]:
x[:4]

[20, 92, 43, 83]

In [114]:
x[15]

IndexError: list index out of range

In [115]:
x

[20, 92, 43, 83, 'ABC', 'a', 'c', 45]

In [116]:
x[3]

83

In [117]:
x[3]=100

In [118]:
x

[20, 92, 43, 100, 'ABC', 'a', 'c', 45]

In [119]:
x[2]='python'

In [120]:
x

[20, 92, 'python', 100, 'ABC', 'a', 'c', 45]

In [121]:
x[1:4]

[92, 'python', 100]

In [122]:
x[1:4]=[70]

In [123]:
x

[20, 70, 'ABC', 'a', 'c', 45]

In [124]:
x[2:5]

['ABC', 'a', 'c']

In [125]:
x[2:5]='hello'

In [126]:
x

[20, 70, 'h', 'e', 'l', 'l', 'o', 45]

In [127]:
x=[20, 70, 'lalit', 'a', 'c', 45]

In [128]:
x

[20, 70, 'lalit', 'a', 'c', 45]

In [129]:
x[2:5]=['hello']

In [130]:
x

[20, 70, 'hello', 45]

In [137]:
x=[20,92,43,83,"ABC","a","c",45]

In [138]:
# can we extract elements with indices not in sequence

In [139]:
x.append(100)

In [140]:
x

[20, 92, 43, 83, 'ABC', 'a', 'c', 45, 100]

In [141]:
print(x , '&' , len(x))
x.append([23,-18,'two'])
print(x, '&' , len(x))

[20, 92, 43, 83, 'ABC', 'a', 'c', 45, 100] & 9
[20, 92, 43, 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two']] & 10

In [142]:
x=x+[10,20,30]

In [144]:
x

[20,
 92,
 43,
 83,
 'ABC',
 'a',
 'c',
 45,
 100,
 [23, -18, 'two'],
 10,
 20,
 30,
 'one',
 'three',
 'five']

In [145]:
x.extend(['one','three','five'])

In [146]:
x

[20,
 92,
 43,
 83,
 'ABC',
 'a',
 'c',
 45,
 100,
 [23, -18, 'two'],
 10,
 20,
 30,
 'one',
 'three',
 'five',
 'one',
 'three',
 'five']

In [147]:
print(x)
x.insert(3,'this')
print(x)

[20, 92, 43, 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one', 'three', 'five']
[20, 92, 43, 'this', 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one', 'three', 'five']

In [148]:
print(x)
x.pop()
print(x)

[20, 92, 43, 'this', 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one', 'three', 'five']
[20, 92, 43, 'this', 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one', 'three']

In [149]:
x.pop()

'three'

In [150]:
print(x)
print(x[4])
x.pop(4)
print(x)

[20, 92, 43, 'this', 83, 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one']
83
[20, 92, 43, 'this', 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one']

In [151]:
print(x)
x.remove(10)
print(x)

[20, 92, 43, 'this', 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five', 'one']
[20, 92, 43, 'this', 'ABC', 'a', 'c', 45, 100, [23, -18, 'two'], 20, 30, 'one', 'three', 'five', 'one']

In [152]:
x=[2,3,40,2,14,2,3,11,71,26]

In [153]:
x.remove(3)
print(x)

[2, 40, 2, 14, 2, 3, 11, 71, 26]

In [154]:
x=[2,3,40,2,14,2,3,11,71,26]

In [155]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [156]:
x.sort()

In [157]:
x

[2, 2, 2, 3, 3, 11, 14, 26, 40, 71]

In [158]:
x.sort(reverse=True)

In [159]:
x

[71, 40, 26, 14, 11, 3, 3, 2, 2, 2]

In [160]:
x=[2,3,40,2,14,2,3,11,71,26]

In [161]:
x[::-1]

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [162]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [163]:
x.reverse()

In [164]:
x

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

# NoneType Error

In [165]:
a=x.reverse()

In [166]:
a

In [167]:
print(a)

None

In [168]:
x=x.reverse()

In [169]:
x.sort()

AttributeError: 'NoneType' object has no attribute 'sort'

## flow control in python

In [170]:
x=12

In [171]:
if x>10:
    print('my value is larger than 10')
else:
    difference=10-x
    print('x is smaller than 10 by '+str(difference))

my value is larger than 10

In [172]:
x=[5,40,12,-10,0,32,4,3,6,72]

In [173]:
for value in x:
    if value>10:
        print('my value is larger than 10')
    else:
        difference=10-value
        print('x is smaller than 10 by '+str(difference))
        print('hello again')
    print('hello')
    
print('hello there')

x is smaller than 10 by 5
hello again
hello
my value is larger than 10
hello
my value is larger than 10
hello
x is smaller than 10 by 20
hello again
hello
x is smaller than 10 by 10
hello again
hello
my value is larger than 10
hello
x is smaller than 10 by 6
hello again
hello
x is smaller than 10 by 7
hello again
hello
x is smaller than 10 by 4
hello again
hello
my value is larger than 10
hello
hello there

In [174]:
cities=['Mumbai','London','Bangalore','Pune','Hyderabad']

In [175]:
for city in cities:
    num_chars=len(city)
    print('number of character in the name of city '+city+ ':'+ str(num_chars))

number of character in the name of city Mumbai:6
number of character in the name of city London:6
number of character in the name of city Bangalore:9
number of character in the name of city Pune:4
number of character in the name of city Hyderabad:9

In [176]:
x=10

In [177]:
if x>6:
    print('greater than 6')
    if x>7:
        print('greater than 7')
        if x>8:
            print('greater than 8')

greater than 6
greater than 7
greater than 8

In [178]:
# break , continue , pass

In [179]:
x=[[1,2],['a','b'],[34,67]]

In [180]:
for i,j in x:
    print(i,j)

1 2
a b
34 67

In [181]:
ctr=0
for city in cities:
    print(ctr,':',len(city))
    ctr+=1

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [182]:
list(enumerate(cities))

[(0, 'Mumbai'), (1, 'London'), (2, 'Bangalore'), (3, 'Pune'), (4, 'Hyderabad')]

In [183]:
for i,city in enumerate(cities):
    print(i,':',len(city))

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [184]:
x=[[2,3,4,5,6,7,8],[2,3,4,5,6,7,8]]

In [185]:
for a,b,c,d,e,f,g in x:
    print(a,b,c,d,e,f,g)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

In [186]:
x=10

while x>3:
    print(x, 'x is greater than 3')
    x-=1

10 x is greater than 3
9 x is greater than 3
8 x is greater than 3
7 x is greater than 3
6 x is greater than 3
5 x is greater than 3
4 x is greater than 3

In [187]:
mylist=range(10,3,-1)

In [188]:
for value in mylist:
    print(value)

10
9
8
7
6
5
4

In [189]:
mysum=0
throws=0
import numpy as np 

while mysum<=20 and throws<6:
    throw = np.random.randint(high=7,low=1)
    mysum += throw
    throws +=1
    print(throw)

if mysum<20: 
    print('Loss')
else :
    print('Win')

3
1
6
4
3
6
Win

In [190]:
x=[2,3,4,5,6,8,9,10,1,33,44,12]

In [191]:
import math

In [192]:
logs=[]

for num in x:
    logs.append(math.log(num))
  
print(x)
print(logs)

[2, 3, 4, 5, 6, 8, 9, 10, 1, 33, 44, 12]
[0.6931471805599453, 1.0986122886681098, 1.3862943611198906, 1.6094379124341003, 1.791759469228055, 2.0794415416798357, 2.1972245773362196, 2.302585092994046, 0.0, 3.4965075614664802, 3.784189633918261, 2.4849066497880004]

In [193]:
logs=[math.log(num) for num in x]

In [194]:
logs

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [195]:
x=[0,3,4,-5,6,8,9,-10,1,33,-44,12]

In [196]:
logs=[math.log(num) for num in x]

ValueError: math domain error

In [197]:
logs=[]

for num in x:
    if num>0:
        logs.append(math.log(num))
    else:
        pass

In [198]:
logs

[1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 0.0,
 3.4965075614664802,
 2.4849066497880004]

In [199]:
logs=[math.log(num) for num in x if num>0]

In [200]:
logs

[1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 0.0,
 3.4965075614664802,
 2.4849066497880004]

In [201]:
logs=[math.log(num) if num>0 else 'out of domain' for num in x]

In [202]:
logs

['out of domain',
 1.0986122886681098,
 1.3862943611198906,
 'out of domain',
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 'out of domain',
 0.0,
 3.4965075614664802,
 'out of domain',
 2.4849066497880004]

# Dictionaries

In [213]:
my_dict={'name':'Mamata','city':'hyderabad','locality':'gachibowli','num_vehicles':2,3:78,4:[3,4,5,6]}

In [214]:
type(my_dict)

dict

In [215]:
my_dict.keys()

dict_keys(['name', 'city', 'locality', 'num_vehicles', 3, 4])

In [216]:
my_dict[4]

[3, 4, 5, 6]

In [217]:
my_dict['last_name']

KeyError: 'last_name'

In [218]:
my_dict['last_name']='Parab'

In [219]:
my_dict

{'name': 'Mamata',
 'city': 'hyderabad',
 'locality': 'gachibowli',
 'num_vehicles': 2,
 3: 78,
 4: [3, 4, 5, 6],
 'last_name': 'Parab'}

In [220]:
del my_dict['num_vehicles']

In [221]:
my_dict

{'name': 'Mamata',
 'city': 'hyderabad',
 'locality': 'gachibowli',
 3: 78,
 4: [3, 4, 5, 6],
 'last_name': 'Parab'}

In [222]:
for itr in my_dict:
    print(itr)

name
city
locality
3
4
last_name

In [223]:
for itr in my_dict:
    print(itr,my_dict[itr])

name Mamata
city hyderabad
locality gachibowli
3 78
4 [3, 4, 5, 6]
last_name Parab

In [224]:
my_dict.items()

dict_items([('name', 'Mamata'), ('city', 'hyderabad'), ('locality', 'gachibowli'), (3, 78), (4, [3, 4, 5, 6]), ('last_name', 'Parab')])

In [225]:
for key,value in my_dict.items():
    print('key :', key , ' and value :',value)

key : name  and value : Mamata
key : city  and value : hyderabad
key : locality  and value : gachibowli
key : 3  and value : 78
key : 4  and value : [3, 4, 5, 6]
key : last_name  and value : Parab

# Sets

In [226]:
names={'George','spanadan','deepta','manoj'}

In [227]:
type(names)

set

In [228]:
'deepta' in names

True

In [229]:
'harsh' not in names

True

In [230]:
names.add('harsh')

In [231]:
names

{'George', 'deepta', 'harsh', 'manoj', 'spanadan'}

In [232]:
names.add('harsh')

In [233]:
names

{'George', 'deepta', 'harsh', 'manoj', 'spanadan'}

In [234]:
names.remove('George')

In [235]:
names

{'deepta', 'harsh', 'manoj', 'spanadan'}

In [236]:
for name in names:
    print(name)

spanadan
deepta
harsh
manoj

In [237]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [238]:
c=a.union(b)

In [239]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [240]:
a.intersection(b)

{4, 5, 6}

In [241]:
a.difference(b)

{1, 2, 3}

In [242]:
b.difference(a)

{7, 8, 9}

In [243]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

# Tuples

In [244]:
t=(34,56,12)

In [245]:
type(t)

tuple

In [246]:
t=34,56,89

In [247]:
type(t)

tuple

In [248]:
t[2]=99

TypeError: 'tuple' object does not support item assignment

# Functions

In [249]:
x=12
fib_series=[1,1]
ctr=2

while ctr<x:
    fib_series.append(fib_series[-1]+fib_series[-2])
    ctr+=1

In [250]:
fib_series

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [251]:
def fib_series_creator(num_elements):
    fib_series=[1,1]
    ctr=2

    while ctr<num_elements:
        fib_series.append(fib_series[-1]+fib_series[-2])
        ctr+=1
        
    return(fib_series)

In [252]:
fib_series_creator(3)

[1, 1, 2]

In [253]:
def mysum(x,y,z):
    return(2*x+3*y+4*z)

In [254]:
mysum(1,2,3)

20

In [255]:
mysum(2,4)

TypeError: mysum() missing 1 required positional argument: 'z'

In [256]:
def mysum(x=1,y=10,z=100):
    return(2*x+3*y+4*z)

In [257]:
mysum(1,2,3)

20

In [258]:
mysum(2,4)

416

In [259]:
mysum(2)

434

In [260]:
mysum()

432

In [261]:
mysum(z=-10)

-8

In [262]:
mysum(y=0,z=90,x=7)

374

In [263]:
mysum(y=10,3)

SyntaxError: positional argument follows keyword argument (<ipython-input-263-6bb8c761aa69>, line 1)

In [264]:
mysum(3,z=-10)

-4

## Args and kwargs

In [ ]:
# * is an unpacking operator 
# we can make use of it to create a function which can take variable number of argument 
# many of  these function can also be written where they are built for taking a list as an argument 

def mymax_1(x):
    m=-float('inf')
    
    for elem in x:
        if elem>m:
            m=elem
    return m

In [ ]:
mymax_1([3,4,5,-10,55,2,1])

In [ ]:
mymax_1(3,4,5,-10,55,2,1)

In [ ]:
def mymax_2(*x):
    
    m=-float('inf')
    
    for elem in x:
        if elem>m:
            m=elem
    return m

In [ ]:
mymax_2(3,4,5,-10,55,2,1)

In [ ]:
mymax_2(3,4,5,-10,55,2,1,99,-100,54,67)

In [59]:
mymax_2(*[3,4,5,-10,55,2,1,99,-100,54,67])

NameError: name 'mymax_2' is not defined

In [265]:
# a more useful purpose of unpacking operator is that 
# you can use unpacking operator to pass your argument as a list to a function which  takes
# fixed number of arguments . This you dont have to manually extract them into individual elements and 
# then pass to the function . here is an example 

def combine_name(first,last):
    
    name=first+' '+last
    
    return(name)

names=[['Mamata','Parab'],['Rajkumar','Rao'],['Hardik','Pandya']]

In [266]:
for x in names :
    print(combine_name(x[0],x[1]))

Mamata Parab
Rajkumar Rao
Hardik Pandya

In [267]:
for x in names:
    
    print(combine_name(*x))

Mamata Parab
Rajkumar Rao
Hardik Pandya

In [269]:
# similar to *, you can consider ** as an unpacking operator for dictionaries 
# ** unpacks dictionaries as named arguments

def combine_name(first=' ',middle=' ',last=' '):
    
    name=first+' '+middle+' '+last
    
    return(name)


names=[{'first':'Mamata','last':'Parab'},{'middle':'kumar','last':'rao','first':'raj'},
       {'last':'pandya','first':'hardik'}]

In [270]:
for x in names :
    
    print(combine_name(**x))

Mamata   Parab
raj kumar rao
hardik   pandya

In [271]:
# you can also write function which take variable number of named arguments where the names 
# are not predecided

def find_text(**tweet):
    
    if 'text' in tweet:
        print(tweet['text'])
    else:
        print('tweet is empty')

In [272]:
find_text(date='10-12-2020',name='lalit',count=2)

tweet is empty

In [273]:
find_text(date='10-12-2020',name='lalit',count=2,text='The Expanse is an interesting TV Series')

The Expanse is an interesting TV Series

## understanding global and local scoping

In [274]:
a=20
b=10

In [275]:
def exp1(a,b):
    
    a=7
    b=3
    
    global c
    
    c=100
    print(a,b)

In [276]:
a,b

(20, 10)

In [277]:
exp1(a,b)

7 3

In [278]:
c

100

In [279]:
class experiment():
    
    def __init__(self,a,b):
        
        self.A=a
        self.B=b
        
    def do_something(self,x):
        
        return(self.A*x+self.B*x)

In [280]:
ob=experiment(4,5)

In [281]:
ob.do_something(6)

54

## Class

In [282]:
c1_name='Mamata'
c1_balance=100
c1_last_wd=10

c2_name='Pravin'
c2_balance=200
c2_last_wd=50

In [283]:
class customer():
    
    def __init__(self,name,balance,last_wd):
        self.name=name
        self.balance=balance
        self.last_wd=last_wd
    
    def withdraw(self,amount):
        
        if(amount>self.balance):
            print('insufficient balance')
        else:
            self.balance-=amount
            self.last_wd=amount
    
    def deposit(self,amount):
        self.balance += amount
        return(self.balance)

In [285]:
c1=customer('Mamata',100,10)

In [286]:
c2=customer('Pravin',200,50)

In [287]:
c1.withdraw(500)

insufficient balance

In [288]:
c1.balance

100

In [289]:
c1.withdraw(50)

In [290]:
c1.balance

50

In [291]:
c1.last_wd

50

In [292]:
c2.withdraw(10)

In [60]:
customer.withdraw(c1,20)

NameError: name 'customer' is not defined

In [293]:
c1.withdraw(30)

In [294]:
c1.balance

20

In [295]:
c1.deposit(1000)

1020

## A bad usage of class

In [296]:
class myclass():
    def f1(x,y):
        return(x*y)
    def f2():
        print('hello')

In [297]:
f1(3,4)

NameError: name 'f1' is not defined

In [298]:
myclass.f1(3,4)

12

In [299]:
myclass.f2()

hello

## Decorators in python

In [ ]:
### functions in python can take other functions as argument [remeber everything is an object ]

In [300]:
def f1(x,y):
    return(x+y)

def f2(x,y):
    return(x-y)

def f3(func1,func2,x,y):
    
    s1=func1(x,y)
    s2=func2(x,y)
    
    return(s1/s2)

In [301]:
f3(f1,f1,3,2)

1.0

In [302]:
f3(f1,f2,3,2)

5.0

In [303]:
f3(f2,f1,3,2)

0.2

In [304]:
def mymax_2(*x):
    m=-float('inf')
    
    for elem in x:
        if elem>m:
            m=elem
    return m

In [305]:
### timing a functions runtime

import time
import numpy as np

start=time.time()

print(mymax_2(*np.random.randint(1,10000000,100000)))

end=time.time()

print(end-start)

9999940
0.027163028717041016

In [306]:
def time_it(func):
    
    
    
    def inner(*x):
        start=time.time()
        
        k=func(*x)
        end=time.time()
        
        print('time taken :',end-start)
        return k
    
    return inner

In [307]:
mymax_timed=time_it(mymax_2)

In [308]:
mymax_timed(*np.random.randint(1,10000000,100000))

time taken : 0.005983829498291016

9999976

In [309]:
@time_it

def mymax_timed_2(*x):
    m=-float('inf')
    
    for elem in x:
        if elem>m:
            m=elem
    return m

In [310]:
mymax_timed_2(*np.random.randint(1,10000000,100000))

time taken : 0.006071805953979492

9999990

# Inheritance

In [311]:
class customer():
    
    def __init__(self,name,balance,last_wd):
        self.name=name
        self.balance=balance
        self.last_wd=last_wd
    
    def withdraw(self,amount):
        
        if(amount>self.balance):
            print('insufficient balance')
        else:
            self.balance-=amount
            self.last_wd=amount
    
    def deposit(self,amount):
        self.balance += amount
        return(self.balance)

In [312]:
c1=customer('lalit',2000,10)

In [313]:
c1.withdraw(200)

In [314]:
c1.withdraw(1900)

insufficient balance

In [315]:
class corporate_customer(customer):
    
    def withdraw(self,amount):
        
        if(amount>1.2*self.balance):
            print('insufficient balance')
        
        else:
            self.balance-=amount
            self.last_wd=amount

In [316]:
c1=customer('lalit',2000,200)

In [317]:
c2=corporate_customer('sachin',2000,200)

In [318]:
c1.withdraw(2100)

insufficient balance

In [319]:
c2.withdraw(2100)

In [320]:
c2.deposit(100)

0

In [321]:
c2.last_wd

2100

# Extending a class

In [322]:
class corporate_customer(customer):
    
    def __init__(self,name,balance,last_wd):
        
        super().__init__(name,balance,last_wd)
        
        self.deficit=False
        
    def withdraw(self,amount):
        
        if(amount>1.2*self.balance ):
            print('insufficient balance')
            
        elif self.deficit:
            print('Account is already in deficit, now withdrawls allowd')
        elif amount>self.balance :
            self.deficit=True
            print('Account is now running in deficit')
            self.balance-=amount
            self.last_wd=amount
        else:
            self.balance-=amount
            self.last_wd=amount
            
    def deposit(self,amount):
        self.balance += amount
        
        if self.balance>=0:
            self.deficit=False
        return(self.balance)

In [323]:
c2=corporate_customer('sachin',2000,200)

In [324]:
c2.withdraw(2100)

Account is now running in deficit

In [325]:
c2.balance

-100

In [326]:
c2.deficit

True

In [327]:
isinstance(c2,corporate_customer)

True

In [328]:
isinstance(c2,customer)

True

In [329]:
class temp(customer):
    
    def __init__(self,name,balance,last_wd):
        
        
        self.deficit=False
        
    def withdraw(self,amount):
        
        if(amount>1.2*self.balance ):
            print('insufficient balance')
            
        elif self.deficit:
            print('Account is already in deficit, now withdrawls allowd')
        elif amount>self.balance :
            self.deficit=True
            print('Account is now running in deficit')
            self.balance-=amount
            self.last_wd=amount
        else:
            self.balance-=amount
            self.last_wd=amount
            
    def deposit(self,amount):
        self.balance += amount
        
        if self.balance>0:
            self.deficit=False
        return(self.balance)

In [330]:
a=temp('sachin',2000,200)

In [331]:

c2.__dict__

{'name': 'sachin', 'balance': -100, 'last_wd': 2100, 'deficit': True}