In [1]:
import warnings

import pandas as pd 
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [2]:
warnings.filterwarnings('ignore')

In [4]:
ld_train=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\loan_data_train.csv')
ld_test=pd.read_csv('C:\\Users\\Larry Williams\\Desktop\\Mamata\\Edvancer\\data\\data\\loan_data_test.csv')

In [5]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [6]:
ld_train.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1329,62778.0,4800,4775,7.90%,36 months,debt_consolidation,13.74%,CA,RENT,6333.33,720-724,6,1782,0.0,1 year
1680,97487.0,12825,12825,17.77%,36 months,debt_consolidation,24.41%,CA,MORTGAGE,3416.67,670-674,15,8539,1.0,10+ years
1542,66425.0,16000,16000,21.49%,60 months,small_business,25.76%,NY,MORTGAGE,5000.00,670-674,14,10881,0.0,5 years
419,65335.0,16000,16000,14.09%,60 months,small_business,7.78%,PA,RENT,4166.67,735-739,6,4240,3.0,2 years
297,20785.0,20000,20000,14.91%,36 months,debt_consolidation,19.43%,VA,MORTGAGE,6250.00,715-719,12,14308,1.0,5 years
1822,30210.0,3800,3800,6.99%,36 months,credit_card,3.18%,NY,RENT,3583.33,740-744,9,3766,0.0,4 years
108,27095.0,7500,7500,5.42%,36 months,home_improvement,22.26%,OH,MORTGAGE,2583.33,785-789,11,2160,0.0,10+ years
937,81508.0,7500,7500,12.12%,36 months,home_improvement,26.56%,NH,MORTGAGE,5000.00,710-714,8,9047,1.0,10+ years
335,72346.0,3625,3625,14.09%,36 months,debt_consolidation,11.32%,FL,MORTGAGE,3895.00,665-669,9,12251,0.0,10+ years
996,67158.0,10000,10000,14.09%,36 months,debt_consolidation,21.45%,CO,RENT,4583.33,675-679,11,8548,0.0,6 years

In [7]:


# dont need : ID , Intereste.Rate

# Amount requested : V1
# Amount.Funded.By.Investors : V2 
# Open.CREDIT.Lines : V3
# Revolving.CREDIT.Balance : V4

# convert it to numeric , and then impute missing values with median

# Debt.To.Income.Ratio : V5

# remove percentage sign , covert to numeric and then impute with median

# Loan.Length ,Loan.Purpose,State,Home.Ownership,Employment.Length
# V6-V10
# create dummies for these, considering frequency cutoff as 20

# Monthly.Income : V11,
# Inquiries.in.the.Last.6.Months :V12

# impute missing values with median

# FICO.Range : V13

# split the column at '-', convert the resulting columns to numeric(say a ,b) , 
# then create new column = (a+b)/2

In [8]:
# pipe_name=pdPipeline([
#     ('name of the process',call to process),
#     ('name of the process', call to process),
#     .....
# ])

In [9]:
p1=pdPipeline([
    ('var_select',VarSelector(['Amount.Requested','Amount.Funded.By.Investors',
                               'Open.CREDIT.Lines','Revolving.CREDIT.Balance'])),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [10]:
p2=pdPipeline([
    ('var_select',VarSelector(['Debt.To.Income.Ratio'])),
    ('string_clean',string_clean(replace_it='%',replace_with='')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [11]:
p3=pdPipeline([
    ('var_select',VarSelector(['Loan.Length', 'Loan.Purpose','State','Home.Ownership',
                               'Employment.Length'])),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(20))
])

In [12]:
p4=pdPipeline([
    ('var_select',VarSelector(['Monthly.Income','Inquiries.in.the.Last.6.Months'])),
    ('missing_trt',DataFrameImputer())
])

In [13]:
p5=pdPipeline([
    ('var_select',VarSelector(['FICO.Range'])),
    ('custom_fico',custom_fico()),
    ('missing_trt',DataFrameImputer())
])

In [14]:
data_pipe=FeatureUnion([
    ('obj_to_num',p1),
    ('dtir',p2),
    ('obj_to_dum',p3),
    ('num',p4),
    ('fico',p5)
])

In [15]:
data_pipe.fit(ld_train)

FeatureUnion(n_jobs=None,
             transformer_list=[('obj_to_num',
                                pdPipeline(memory=None,
                                           steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_trt',
                                                   DataFrameImputer())],
                                           verbose=False)),
                               ('dtir',
                                pdPipeline(memory=No...
                                           steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_trt',
                                                   DataFrameImputer())],
                                           verbose=False)),
                               ('fico',
                                pdPipeline(memory=None,
                                           steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico()),
                                                  ('missing_trt',
                                                   DataFrameImputer())],
                                           verbose=False))],
             transformer_weights=None, verbose=False)

In [16]:
len(data_pipe.get_feature_names())

61

In [17]:
data_pipe.transform(ld_train).shape

(2200, 61)

In [18]:
x_train=pd.DataFrame(data=data_pipe.transform(ld_train),
                    columns=data_pipe.get_feature_names())

In [19]:
x_test=pd.DataFrame(data=data_pipe.transform(ld_test),
                    columns=data_pipe.get_feature_names())

In [20]:
x_train.shape

(2200, 61)

In [21]:
x_test.shape

(300, 61)

In [22]:
x_train.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_MD', 'obj_to_dum__State_OH',
       'obj_to_dum__State_NC', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_OR',
       'obj_to_dum__State_WI', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')

In [23]:
x_test.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_MD', 'obj_to_dum__State_OH',
       'obj_to_dum__State_NC', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_OR',
       'obj_to_dum__State_WI', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')