# Python Excercise 1

#### 1. Generate a list containing 50 random integers between 10 to 100. Write a program which removes all the values which are divisible by 3 from the list . Then it subtracts 1 from all the remaining values and then removes all the values divisible by 5 from the list .

In [2]:
import numpy as np

In [3]:
x=np.random.randint(10,101,50)

In [4]:
x

array([96, 88, 76, 64, 77, 89, 58, 65, 36, 47, 70, 76, 69, 70, 79, 63, 18,
       26, 26, 89, 16, 24, 83, 73, 72, 95, 96, 48, 48, 24, 68, 68, 35, 50,
       32, 57, 14, 51, 52, 56, 49, 30, 19, 75, 72, 24, 71, 13, 19, 66])

In [5]:
x_step1=[elem for elem in x if elem%3==0]

In [6]:
x_step1

[96, 36, 69, 63, 18, 24, 72, 96, 48, 48, 24, 57, 51, 30, 75, 72, 24, 66]

In [7]:
x_step2=[elem-1 for elem in x_step1]

In [8]:
x_step2

[95, 35, 68, 62, 17, 23, 71, 95, 47, 47, 23, 56, 50, 29, 74, 71, 23, 65]

In [9]:
x_step3=[elem for elem in x_step2 if elem%5==0]

In [10]:
x_step3

[95, 35, 95, 50, 65]

#### 2. Consider the following dictionary  
#### {'a':'e','b': 's','c':'q','d':'p','j':'n'}
#### Write a program which takes input any string and then replaces all the letters which are keys in the above dictionary with their corresponding values in the dictionary.

In [11]:
def string_remap(input_string,dict_map):
    
    x=list(input_string)
    
    for i,char in enumerate(x):
        
        if char in dict_map.keys():
            x[i]=dict_map[char]
            
    remapped_string=''.join(x)
    return(remapped_string)

In [12]:
string_remap('abjected',{'a':'e','b':'$','c':'q','d':'p','j':'n'})

'e$neqtep'

#### 3. Write a program which takes input a list of strings and removes strings until all the remaining strings are of equal lengths . Assume that in the input list , there will be at-least two strings of the same length . For simplicity , assume that list will not contain equal length strings for multiple lengths

In [13]:
def rem_str(x):
    
    lens=[len(a) for a in x]
    
    mode=max(set(lens),key=lens.count)
    
    keep=[a for a in x if len(a)==mode]
    
    return(keep)

In [13]:
x=['abc','abcd','acbde','acbgeh','qwert']
rem_str(x)

['acbde', 'qwert']

#### 4. Write a function which tells you whether you can take jugs of capacity 3 and 5 litres and fill another jug of capacity x completely with water using just these two . For simplicity assume that you can only pour into the jug of capacity x . You can not take any water out. And youstart with jug of capacity x being empty. It is acceptable if you dont use any one of the jugs [of capacity 3 and 5 litres]

In [14]:
def func(big_jug,c1=3,c2=5):
    
    try_a=list(range(0,int(big_jug/c1)+1))
    
    for a in try_a:
        
        b=(big_jug-c1*a)/c2
        
        if b==int(b):
            return('yes')
    return('no')

#### 5. Use dictionary comprehension to create a dictionary with keys : t1,t2,t3.......t100 which takes random integers from the range [1,100] as their corresponding values. Write a function which takes this dictionary as input and returns number of unique values from all key:value pairs in that dictionary .

In [16]:
d ={'t'+str(i):np.random.randint(1,101) for i in range(1,101)}

In [17]:
def dict_unique_vals(some_dict):
    
    unique_vals=set(some_dict.values())
    
    return(len(unique_vals))

In [18]:
dict_unique_vals(d)

67

#### 6. Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle is a circumcircle and for the bigger one, an incircle. Create a function, that takes an integer (radius of the circle) and returns the difference of the areas of the two squares.

In [19]:
def area_diff(r):
    
    large_sq_area=(2*r)**2

    small_sq_area=2*r**2
    
    return(large_sq_area-small_sq_area)

In [20]:
area_diff(4)

32

#### 7. A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a function that determines whether a number is a Harshad or not. Input to the function will be an integer.

In [21]:
def is_harshad(x):
    
    digits=[int(i) for i in list(str(x))]
    
    return(x%sum(digits)==0)

In [22]:
is_harshad(171)

True

In [22]:
is_harshad(41)

False

#### 8. Write a function which takes an integer n as input and returns sum of all even numbers in the first n terms of a fibonacci series .

In [23]:
def fib(n):
    
    start=[1,1]
    
    while True:
        start.append(start[-1]+start[-2])
        
        if len(start)==n:
            return start

In [24]:
def fib_even_sum(n):
    
    even_members=[x for x in fib(n) if x%2==0]
    
    return(sum(even_members))

In [25]:
fib_even_sum(20)

3382

#### 9. Write a function which takes input an english sentence of any length , and a set containing some stop words. Function then removes all stop words from the sentence and returns a dictionary where keys are all unique words in the sentence and values are their count in the sentence .

In [26]:
def count_dict(sent,stop_words):
    
    all_words=sent.split()
    
    sans_stop=[word for word in all_words if word not in stop_words]
    
    d={}
    
    for word in set(sans_stop):
        d[word]=sans_stop.count(word)
        
    return(d)

In [27]:
sent='it is true for all that that that that that that that refers to is not the same that that that that refers to'
stop={'is','to','it','the'}
count_dict(sent,stop)

{'same': 1, 'all': 1, 'that': 11, 'refers': 2, 'true': 1, 'not': 1, 'for': 1}

#### 10. consider this list of addresses ['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai'] Extract cities from each address, use list comprehension .

In [28]:
x=['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']

In [29]:
cities=[elem.split(',')[-1] for elem in x]

In [30]:
cities

[' Mumbai', ' Hyderabad', ' Chennai']

#### 11. given a list , create a dictionary with counts of unique elements that it contains input list = ['a','b','a','a','b','c','c','a','b'] output dictionary = {'a':4,'b':3,'c':2}

In [31]:
x=['a','b','a','a','b','c','c','a','b']

In [32]:
out_dict={elem:x.count(elem) for elem in set(x)}

In [33]:
out_dict

{'c': 2, 'a': 4, 'b': 3}